Repository lavanet/lava, pull requests merged in 2024-12, with the labels that each got.

#1809 fix: PRT - Add generic parser for Near tx
  cookbook/specs/near.json
Labels: C:specs, size/S

#1807 chore: Update the Starknet spec
  cookbook/specs/starknet.json
Labels: C:specs, size/S

#1810 feat: PRT - archive retry attempt on second relay regardless of node error
  protocol/rpcconsumer/relay_state.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, size/XS

#1811 fix: PRT - Fix near "chunk" and "block" generic parsers
  cookbook/specs/near.json
Labels: C:specs, size/XS

#1766 chore: refactor state query access
  ecosystem/lavavisor/pkg/state/lavavisor_state_tracker.go
  protocol/badgegenerator/tracker.go
  protocol/badgeserver/tracker.go
  protocol/rpcconsumer/custom_transport.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/consumer_state_tracker.go
  protocol/statetracker/events.go
  protocol/statetracker/provider_state_tracker.go
  protocol/statetracker/state_tracker.go
  protocol/statetracker/updaters/event_tracker.go
  protocol/statetracker/updaters/provider_freeze_jail_updater.go
  protocol/statetracker/updaters/provider_freeze_jail_updater_mocks.go
  protocol/statetracker/updaters/state_query.go
Labels: C:protocol, Team:Protocol, size/XL

#1808 chore: Solana Subscription APIs
  cookbook/specs/solana.json
  protocol/chainlib/base_chain_parser.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#1814 chore: Fantom spec update
  cookbook/specs/fantom.json
Labels: C:specs, size/L

#1806 chore: update Solana spec
  cookbook/README.md
  cookbook/specs/solana.json
  protocol/chainlib/base_chain_parser.go
  x/spec/README.md
Labels: C:protocol, Team:Protocol, C:specs, Team:Consensus, C:x/spec, size/L

#1815 fix: PRT - Remove unused flag
  protocol/chainlib/chain_router.go
  protocol/chainlib/chain_router_test.go
  protocol/chainlib/chainlib.go
  protocol/rpcprovider/rpcprovider.go
Labels: C:protocol, Team:Protocol, size/S

#1816 fix: PRT - Fix Solana subscription mechanism
  cookbook/specs/solana.json
  protocol/chainlib/chainproxy/rpcclient/handler.go
  protocol/chainlib/chainproxy/rpcclient/json.go
  protocol/chainlib/chainproxy/rpcclient/subscription.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#1780 chore: added utils to test method routing
  config/provider_examples/lava_example_archive_method_route.yml
  cookbook/projects/policy_all_chains_with_extension.yml
  scripts/init_chain_commands.sh
  scripts/test/httpServer.py
Labels: Type: Build, C:specs, size/M

#1820 fix: PRT - Rename leftovers of "portal" to "consumer"
  protocol/integration/protocol_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_eth_archive_mix.sh
  scripts/setup_providers.sh
  scripts/test/jail_provider_test.sh
  scripts/test_spec_full.sh
Labels: C:protocol, Team:Protocol, Type: Build, size/S

#1823 fix: PRT - Fix offline spec bug
  protocol/statetracker/state_tracker.go
Labels: C:protocol, Team:Protocol, size/S

#1738 feat: PRT - Websocket limited per ip
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_websocket_manager_test.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/mock_websocket.go
  protocol/chainlib/tendermintRPC.go
  protocol/chainlib/websocket_connection_limiter.go
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
  scripts/pre_setups/init_lava_only_with_node.sh
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, size/L

#1825 feat: remove spec requirement to contain all apis
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/grpc_test.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest.go
  protocol/chainlib/rest_test.go
  protocol/chainlib/tendermintRPC_test.go
  protocol/common/cobra_common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/provideroptimizer/selection_weight.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
Labels: C:protocol, Team:Protocol, size/L

#1826 fix: effective policy cmd argument parsing
  x/pairing/client/cli/query_effective_policy.go
Labels: Team:Consensus, C:x/pairing, size/XS

#1830 chore: PRT - Add logs for debugging
  protocol/parser/parser.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/XS

#1831 chore: PRT - Set protocol version to 4.2.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1829 feat: PRT - Add the consumer geolocation to the QoS server report
  protocol/metrics/consumer_optimizer_qos_client.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/S

#1777 feat: CNS-upgrade-go-version
  .github/workflows/lava.yml
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: Type: CI, size/L

#1836 chore: PRT - Fix linter warn and err
  .golangci.yml
  protocol/chainlib/chainproxy/rpcInterfaceMessages/grpcMessage_test.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage_test.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/restMessage_test.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/tendermintRPCMessage_test.go
  protocol/chainlib/chainproxy/rpcclient/types_test.go
  protocol/chainlib/common_test.go
  protocol/parser/parser_test.go
  x/downtime/v1/genesis_test.go
  x/epochstorage/client/cli/query_epoch_details_test.go
  x/spec/ante/ante_test.go
  x/spec/client/cli/query_spec_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/epochstorage, C:x/spec, C:x/downtime, size/M

#1834 chore: PRT - Update avalanche config example
  config/provider_examples/avalanch_internal_paths_example.yml
  protocol/provideroptimizer/provider_optimizer_test.go
Labels: C:protocol, Team:Protocol, size/XS

#1794 feat: CNS-daily restaking credit
  proto/lavanet/lava/dualstaking/delegate.proto
  testutil/common/tester.go
  testutil/keeper/dualstaking.go
  testutil/keeper/mock_keepers.go
  x/dualstaking/README.md
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/delegate_credit.go
  x/dualstaking/keeper/delegate_credit_test.go
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/keeper/keeper.go
  x/dualstaking/keeper/migrations.go
  x/dualstaking/module.go
  x/dualstaking/types/delegate.go
  x/dualstaking/types/delegate.pb.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/helpers_test.go
Labels: Team:Consensus, C:x/dualstaking, C:x/pairing, C:proto, Type: Proto, size/XL

#1824 feat: CNS-delay-periodic-accounts
  app/app.go
  app/upgrades/empty_upgrades.go
  app/upgrades/upgrade_0_35_0.go
  app/upgrades/upgrade_4_2_0.go
Labels: Team:Consensus, size/M

#1839 feat: PRT - DR flag now takes effecwt in sendDataReliabilityRelayIfApplicable
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/statetracker/consumer_state_tracker.go
Labels: C:protocol, Team:Protocol, size/M

#1840 fix: PRT - Replace cookbook with lava config - Again
  specs/.github/workflows/spec-tests.yml
Labels: C:specs, size/XS

#1838 chore: PRT - Update specs readme
  README.md
Labels: size/M

#1841 fix: PRT - Small fix to README
  README.md
Labels: size/XS

#1599 feat: Reputation: CNS-1000 - LegacyDec pairing score
  periods.json
  protocol/lavasession/common.go
  x/pairing/keeper/pairing.go
  x/pairing/keeper/scores/geo_req.go
  x/pairing/keeper/scores/geo_req_test.go
  x/pairing/keeper/scores/pairing_score.go
  x/pairing/keeper/scores/qos_req.go
  x/pairing/keeper/scores/score.go
  x/pairing/keeper/scores/score_req.go
  x/pairing/keeper/scores/score_test.go
  x/pairing/keeper/scores/stake_req.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:x/conflict, C:x/plans, C:x/rewards, C:x/subscription, C:x/spec, C:x/fixationstore, C:x/projects, C:x/timerstore, C:x/downtime, size/L

#1843 chore: PRT - Update go version in docker files and workflows
  .github/pr_labeler.yml
  .github/workflows/cli_tests.yml
  .github/workflows/proto.yml
  Dockerfile
  README.md
  cmd/lavad/Dockerfile
  cmd/lavad/Dockerfile.Cosmovisor
  cmd/lavap/Dockerfile
  ecosystem/lavavisor/pkg/process/fetcher.go
Labels: Team:Protocol, Type: Build, Type: CI, C:cmd/lavad, C:cmd/lavap, size/L

#1844 feat: FB - Added periodic provider probe
  protocol/common/cobra_common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/consumer_metrics_manager.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/M

#1848 fix: PRT - fix spec issues
  scripts/useful_commands.sh
Labels: Type: Build, size/M

#1850 fix: PRT - Fix missing QoS Client in initialization
  protocol/metrics/rpcconsumer_logs.go
Labels: C:protocol, Team:Protocol, size/XS

#1847 chore: PRT - fix spammy qos calc issue
  protocol/lavasession/single_consumer_session.go
Labels: C:protocol, Team:Protocol, size/XS

#1852 chore: PRT - Update specs branch - DO NOT SQUASH
  specs/.github/workflows/spec-tests.yml
Labels: C:specs, size/XS

#1855 feat: FB - Added provider_endpoint to lava_consumer_latest_provider_block
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/consumer_metrics_manager.go
Labels: C:protocol, Team:Protocol, size/XS

#1857 fix: PRT-fix-strk-ws-spec
  specs/mainnet-1/specs/starknet.json
Labels: C:specs, size/L

#1853 feat: PRT - fix chain router auto completion
  config/provider_examples/strk_addon_example_with_root.yml
  config/provider_examples/strk_addon_example_with_ws.yml
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_router.go
  protocol/chainlib/chain_router_test.go
  protocol/chainlib/chainproxy/connector.go
  protocol/chainlib/jsonRPC.go
  scripts/pre_setups/init_avalanch_only_with_node.sh
  scripts/pre_setups/init_starknet_addons_only_with_node.sh
  testutil/network/network.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#1858 chore: PRT - upgrade ristretto version
  ecosystem/cache/handlers.go
  ecosystem/cache/server.go
  go.mod
  go.sum
  protocol/lavaprotocol/relay_retries_manager.go
  protocol/monitoring/alerting.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/statetracker/updaters/state_query.go
Labels: C:protocol, Team:Protocol, size/M

#1859 feat: PRT - 4.2.2
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1861 feat: PRT - golang cache populator cmd
  cmd/lavap/main.go
  ecosystem/cache_populator/command.go
  ecosystem/cache_populator/test_config.json
Labels: Team:Protocol, C:cmd/lavap, size/L

#1854 feat: add arbitrum trace apis
  specs/mainnet-1/specs/arbitrum.json
Labels: C:specs, size/L

#1863 fix: PRT - fixing rest APIs that require event parsing such as txs returning HTML body.
  protocol/chainlib/rest.go
  scripts/pre_setups/init_lava_only_with_node.sh
Labels: C:protocol, Team:Protocol, size/S

#1867 feat: PRT - adding trace methods to ethereum
  specs/mainnet-1/specs/ethereum.json
  testutil/e2e/protocolE2E.go
Labels: C:specs, size/L

#1868 feat: FB add provider endpoint to qos metrics
  protocol/metrics/consumer_metrics_manager.go
Labels: C:protocol, Team:Protocol, size/S

#1870 fix: Fix docker build step
  cmd/lavad/Dockerfile
  cmd/lavap/Dockerfile
Labels: C:cmd/lavad, C:cmd/lavap, size/XS

#1866 feat: add pool-rewards-breakdown command
  cmd/lavad/main.go
  utils/cli/multicheck.go
  x/subscription/client/cli/query.go
  x/subscription/client/cli/query_estimated_rewards.go
Labels: Team:Consensus, C:cmd/lavad, C:x/subscription, size/L

#1873 feat: Added lava_consumer_overall_health_breakdown metric
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/provider_metrics_manager.go
  protocol/metrics/relays_monitor_aggregator.go
Labels: C:protocol, Team:Protocol, size/L

#1876 fix: dealing with 100% commission
  x/dualstaking/keeper/delegator_reward.go
Labels: Team:Consensus, C:x/dualstaking, size/XS

#1875 fix: PRT - Fix scripts and README
  README.md
  scripts/init_chain_commands.sh
  scripts/useful_commands.sh
Labels: Type: Build, size/XS

#1874 feat: FB - Add lava_consumer_overall_health_breakdown metric
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/provider_metrics_manager.go
  protocol/metrics/relays_monitor_aggregator.go
Labels: C:protocol, Team:Protocol, size/L
