Repository lavanet/lava, pull requests merged in 2024-05, with the labels that each got.

#1399 feat: Revert CNS-945-remove-frozen-from-epochstorage
  x/dualstaking/keeper/delegate_test.go
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/keeper/helpers_test.go
  x/epochstorage/types/types.go
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage

#1403 chore: PRT-adding logging information
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1396 feat: PRT-get-best-endpoint-csm
  protocol/integration/protocol_test.go
  protocol/lavasession/common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
Labels: C:protocol, Team:Protocol

#1402 fix: adding missing cosmos methods
  cookbook/specs/spec_add_cosmossdk.json
  cookbook/specs/spec_add_cosmoswasm.json
  cookbook/specs/spec_add_ibc.json
Labels: C:specs

#1404 fix: CNS-948: fixed mix pairing bug
  app/app.go
  app/upgrades/empty_upgrades.go
  x/pairing/keeper/filters/addon_filter.go
  x/pairing/keeper/filters/filter.go
  x/pairing/keeper/filters/filter_test.go
  x/pairing/keeper/filters/frozen_providers_filter.go
  x/pairing/keeper/filters/geolocation_filter.go
  x/pairing/keeper/filters/selected_providers_filter.go
  x/pairing/keeper/pairing_test.go
Labels: Team:Consensus, C:x/pairing

#1405 fix: PRT-fix-grpc-error-code-parsing
  protocol/chainlib/chainproxy/rpcInterfaceMessages/grpcMessage.go
  protocol/chainlib/grpc.go
Labels: C:protocol, Team:Protocol

#1411 feat: PRT-1198: Add consumer cache TTL multiplier flags
  ecosystem/cache/cache_test.go
  ecosystem/cache/command.go
  ecosystem/cache/server.go
Labels: Team:Protocol

#1401 feat: CNS-950-celestia-spec
  cookbook/specs/spec_add_celestia.json
  cookbook/specs/spec_add_cosmossdk.json
  scripts/init_chain_commands.sh
Labels: Type: Build, C:specs

#1414 feat: increasing lavap version number 2-0-1 increasing minimum version as well
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1419 fix: CNS-fix event type and names
  x/dualstaking/keeper/msg_server_claim_rewards.go
  x/rewards/types/types.go
Labels: Team:Consensus, C:x/dualstaking, C:x/rewards

#1420 fix: PRT-fix-protocol-test-panic-index-overflow
  protocol/integration/protocol_test.go
Labels: C:protocol, Team:Protocol

#1412 feat: PRT-forward-archive-calls-to-normal-providers-if-we-dont-have-any-extension-providers
  cookbook/projects/policy_all_chains_with_extension.yml
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/metrics/rpcconsumerlogs_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_eth_archive_mix.sh
Labels: C:protocol, Team:Protocol, C:specs

#1409 feat: CNS: validator performance command
  protocol/performance/validators/validators.go
Labels: C:protocol, Team:Protocol, C:cmd/lavap

#1422 fix: bug fix canceling wrong context.
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1421 feat: CNS-952: provider pairing chance query & provider query
  proto/lavanet/lava/pairing/query.proto
  scripts/cli_test.sh
  testutil/common/tester.go
  x/pairing/client/cli/query.go
  x/pairing/client/cli/query_provider.go
  x/pairing/client/cli/query_provider_pairing_chance.go
  x/pairing/keeper/grpc_query_provider.go
  x/pairing/keeper/grpc_query_provider_pairing_chance.go
  x/pairing/keeper/pairing.go
  x/pairing/keeper/scores/qos_req.go
  x/pairing/types/expected_keepers.go
  x/pairing/types/query.pb.go
  x/pairing/types/query.pb.gw.go
  x/subscription/keeper/cluster.go
  x/subscription/types/cluster.go
Labels: Type: Build, Team:Consensus, C:x/pairing, C:x/plans, C:x/subscription, C:proto, Type: Proto

#1424 fix: PRT-Consumer cache ability use Unix sockets
  ecosystem/cache/command.go
  ecosystem/cache/server.go
  protocol/integration/mocks.go
  protocol/integration/protocol_test.go
  protocol/lavasession/common.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/performance/cache.go
Labels: C:protocol, Team:Protocol

#1425 feat: PRT - make lavap use config path as default values
  cmd/lavad/cmd/root.go
Labels: C:cmd/lavad

#1426 feat: PRT - adding user IP data to referrer request
  protocol/chainlib/common.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/metrics/consumer_referrer_client.go
  protocol/metrics/consumer_referrer_client_test.go
Labels: C:protocol, Team:Protocol

#1429 fix: PRT - fix issue with choosing more than one provider when disabling extensions
  protocol/chainlib/base_chain_parser.go
  protocol/lavasession/consumer_session_manager.go
Labels: C:protocol, Team:Protocol

#1431 fix: CNS-cli-performance-fix
  protocol/performance/validators/validators.go
Labels: C:protocol, Team:Protocol

#1435 fix: unlink cache unix socket
  ecosystem/cache/server.go
Labels: Team:Protocol

#1437 fix: PRT adding a fix to parser when parsing a string
  protocol/parser/parser.go
Labels: C:protocol, Team:Protocol

#1423 feat: Add ethereum account abstraction EIP 4337
  config/provider_examples/eth_provider_with_bundler.yml
  cookbook/specs/spec_add_ethereum.json
Labels: C:specs

#1440 feat: PRT-add-grpc-compression-for-provider-consumer-communication
  protocol/integration/protocol_test.go
  protocol/lavasession/common.go
  protocol/lavasession/common_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/metrics_consumer_manager_test.go
  protocol/performance/cache.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/provider_listener.go
  protocol/rpcprovider/rpcprovider_server_test.go
Labels: C:protocol, Team:Protocol

#1442 chore: lavap v2.0.3
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1408 feat: side spec
  cookbook/specs/spec_add_side.json
Labels: C:specs

#1438 feat: ethermint spec add
  cookbook/specs/spec_add_ethermint.json
Labels: C:specs

#1413 feat: CNS-949: add feegrant tx to stake cli
  proto/lavanet/lava/pairing/query.proto
  protocol/integration/mocks.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/provider_state_tracker.go
  protocol/statetracker/tx_sender.go
  x/pairing/README.md
  x/pairing/client/cli/query_provider.go
  x/pairing/client/cli/tx_stake_provider.go
  x/pairing/client/cli/tx_unstake_provider.go
  x/pairing/keeper/grpc_query_provider.go
  x/pairing/types/query.pb.go
  x/pairing/types/types.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, C:proto, Type: Proto

#1445 fix: PRT-1205: Support null ID in jsonrpc
  ecosystem/cache/cache_test.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/tendermintRPCMessage.go
  protocol/integration/protocol_test.go
Labels: C:protocol, Team:Protocol

#1451 feat: upgrade handler v2.1.0
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1460 fix: axelar archive testnet
  cookbook/specs/spec_add_axelar.json
Labels: C:specs

#1454 fix: fix migrator and create upgrade handler
  app/app.go
  app/upgrades/empty_upgrades.go
  x/epochstorage/module.go
Labels: Team:Consensus, C:x/epochstorage

#1455 fix: CNS-972: enhanced the unit test for iprpc subscriptions
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/iprpc_test.go
Labels: Team:Consensus, C:x/rewards

#1449 feat: added placeholder for parsers
  proto/lavanet/lava/spec/api_collection.proto
  x/spec/keeper/spec_test.go
  x/spec/types/api_collection.pb.go
  x/spec/types/spec.go
  x/spec/types/types.go
Labels: Team:Consensus, C:proto, Type: Proto, C:x/spec

#1443 feat: CNS-957-provider-jail
  proto/lavanet/lava/epochstorage/stake_entry.proto
  testutil/keeper/keepers_init.go
  x/dualstaking/keeper/delegate.go
  x/epochstorage/types/stake_entry.go
  x/epochstorage/types/stake_entry.pb.go
  x/pairing/README.md
  x/pairing/keeper/epoch_cu.go
  x/pairing/keeper/msg_server_unfreeze.go
  x/pairing/keeper/unresponsive_provider.go
  x/pairing/keeper/unresponsive_provider_test.go
  x/pairing/types/errors.go
  x/pairing/types/expected_keepers.go
  x/pairing/types/types.go
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:proto, Type: Proto
