Repository lavanet/lava, pull requests merged in 2024-03, with the labels that each got.

#1318 feat: CNS-936: add specs and update scripts
  config/consumer_examples/full_consumer_example.yml
  cookbook/specs/spec_add_avalanche.json
  cookbook/specs/spec_add_ethereum.json
  scripts/init_chain_commands.sh
  scripts/setup_providers.sh
Labels: Type: Build

#1319 feat: add git labels
  .github/pr_labeler.yml
Labels: Type: CI

#1314 fix: PRT- fix routine getting stuck forever
  protocol/statetracker/tx_sender.go
Labels: C:protocol, Team:Protocol

#1321 feat: lavap-v-1-0-3
  protocol/statetracker/tx_sender.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1323 fix: PRT: Revert from result to response
  cookbook/specs/spec_add_cosmossdk.json
Labels: C:specs

#1249 feat: PRT-improve-timeout-handling
  ecosystem/cache/handlers.go
  ecosystem/lava-sdk/package.json
  ecosystem/lava-sdk/src/providerOptimizer/providerOptimizer.test.ts
  ecosystem/lava-sdk/yarn.lock
  protocol/chainlib/chain_message_queries.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/common.go
  protocol/chainlib/common_test_utils.go
  protocol/chainlib/grpc.go
  protocol/chainlib/grpc_test.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest.go
  protocol/chainlib/rest_test.go
  protocol/chainlib/tendermintRPC.go
  protocol/chainlib/tendermintRPC_test.go
  protocol/common/collections.go
  protocol/common/endpoints.go
  protocol/common/timeout.go
  protocol/integration/mocks.go
  protocol/integration/protocol_test.go
  protocol/lavaprotocol/finalization_consensus_test.go
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/end_to_end_lavasession_test.go
  protocol/lavasession/single_consumer_session.go
  protocol/lavasession/used_providers.go
  protocol/lavasession/used_providers_test.go
  protocol/monitoring/health.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/rpcconsumer/relay_errors.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/provider_listener.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/rpcprovider/rpcprovider_server_test.go
  protocol/statetracker/updaters/policy_updater.go
  scripts/pre_setups/init_lava_only_test_5.sh
  testutil/e2e/allowedErrorList.go
  testutil/e2e/e2eProviderConfigs/lavaConsumer1.yml
  testutil/e2e/e2eProviderConfigs/lavaConsumer2.yml
  testutil/e2e/e2eProviderConfigs/lavaConsumerEmergency1.yml
Labels: C:protocol, Team:Protocol

#1325 feat: increase target version for timeouts
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1306 ci: DO-2153 Create Artifacts for PR
  .dockerignore
  .github/scripts/create-release.sh
  .github/workflows/create_release.yaml
  .github/workflows/lava.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .gitignore
  cmd/lavad/.goreleaser.yaml
  cmd/lavap/.goreleaser.yaml
  cmd/lavavisor/.goreleaser.yaml
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap, C:cmd/lavavisor

#1326 perf: decrease min-stake by 5%
  cookbook/specs/spec_add_blast.json
Labels: C:specs

#1329 feat: PRT-change-slices-to-lavaslices
  ecosystem/cache/handlers.go
  ecosystem/cache/server.go
  protocol/chaintracker/chain_tracker.go
  protocol/lavaprotocol/finalization_consensus.go
  protocol/lavaprotocol/response_builder.go
  protocol/lavasession/provider_session_manager.go
  protocol/monitoring/health_results.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/rpcprovider/rpcprovider_server.go
  testutil/common/tester.go
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
  x/conflict/keeper/msg_server_detection_test.go
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/types/delegate.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/msg_server_relay_payment_gov_test.go
  x/pairing/keeper/msg_server_relay_payment_test.go
  x/pairing/keeper/pairing.go
  x/pairing/keeper/pairing_immediately_test.go
  x/pairing/keeper/pairing_subscription_test.go
  x/pairing/keeper/pairing_test.go
  x/pairing/keeper/unresponsive_provider_test.go
  x/plans/types/geolocation_test.go
  x/plans/types/policy.go
  x/rewards/client/cli/tx.go
  x/subscription/keeper/msg_server_auto_renewal.go
  x/subscription/keeper/subscription.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/plans, C:x/rewards, C:x/subscription

#1328 fix: Do 2153 pr artifacts
  .github/scripts/create-release.sh
  .github/workflows/create_release.yaml
  .github/workflows/release.yml
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap, C:cmd/lavavisor

#1327 feat: PRT - Split big payments
  protocol/rpcprovider/rewardserver/reward_server.go
  protocol/statetracker/tx_sender.go
  protocol/statetracker/updaters/payment_updater.go
  scripts/pre_setups/init_lava_only_with_node.sh
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/plans, C:x/rewards, C:x/subscription

#1330 ci: Do 2153 pr artifacts
  .github/workflows/lava.yml
  .github/workflows/release.yml
  cmd/lavad/.goreleaser.yaml
  cmd/lavap/.goreleaser.yaml
  cmd/lavavisor/.goreleaser.yaml
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap, C:cmd/lavavisor

#1331 fix: Do 2153 pr artifacts
  .github/workflows/lava.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  cmd/lavad/.goreleaser.yaml
  cmd/lavavisor/.goreleaser.yaml
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap, C:cmd/lavavisor

#1332 fix: Fix a log
  protocol/metrics/consumer_reports_client.go
Labels: C:protocol, Team:Protocol

#1337 ci: Do-2153 allow manual release
  .github/workflows/release.yml
Labels: Type: CI

#1338 ci: Do-2153 pr artifacts
  .github/workflows/release.yml
Labels: Type: CI

#1324 feat: PRT-1171: Create MethodNotFound errors to reflect real errors from nodes
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/rest_test.go
  protocol/chainlib/tendermintRPC.go
  protocol/common/errors.go
  protocol/common/return_errors.go
Labels: C:protocol, Team:Protocol

#1339 ci: Do 2153 pr artifacts
  .github/workflows/release.yml
Labels: Type: CI

#1340 chore: PRT-fix ignored files for lavajs
  .gitignore
  ecosystem/lavajs/proto/cosmos_proto/LICENSE
  ecosystem/lavajs/proto/cosmos_proto/README.md
Labels: Team:Protocol
