Repository lavanet/lava, pull requests merged in 2024-07, with the labels that each got.

#1523 feat: PRT - Increase lavap minimum 2.0.3, target 2.2.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1522 fix: PRT - fix sending reports on providers only from main report flow
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/reported_providers.go
  protocol/lavasession/reported_providers_test.go
Labels: C:protocol, Team:Protocol

#1478 feat: fuel network spec
  cookbook/specs/fuel.json
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider.go
Labels: C:protocol, Team:Protocol, C:specs

#1495 docs: updated readme with the provider's vault and operator addresses
  x/dualstaking/README.md
  x/epochstorage/README.md
  x/rewards/README.md
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage, C:x/rewards

#1527 fix: PRT-add-info-for-block-requested-mismatch-0
  config/provider_examples/lava_example_archive.yml
  cookbook/projects/policy_all_chains_with_extension.yml
  protocol/chainlib/chain_fetcher_test.go
  protocol/common/endpoints.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node_with_cache.sh
Labels: C:protocol, Team:Protocol, C:specs

#1528 fix: PRT - fixing state tracker fixated on spec id LAV1
  ecosystem/lavavisor/pkg/state/lavavisor_state_tracker.go
  protocol/statetracker/state_tracker.go
Labels: C:protocol, Team:Protocol

#1524 fix: PRT lock selection returning error when deadline exceeded
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/errors.go
  protocol/lavasession/used_providers.go
  protocol/lavasession/used_providers_test.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1529 ci: release cosmovisor condition fix
  .github/workflows/release.yml
Labels: Type: CI

#1530 fix: PRT - fix expected value for verifications
  protocol/chainlib/chain_fetcher.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1526 fix: PRT: SDK E2E fix attempt
  config/consumer_examples/lava_example.yml
  ecosystem/lava-sdk/yarn.lock
  go.mod
  go.sum
  protocol/badgeserver/badgeserver.go
  protocol/badgeserver/server.go
  protocol/statetracker/updaters/state_query.go
  scripts/test/init_e2e.sh
  testutil/e2e/e2eConfigs/badgeserver1/badgeserver.yml
  testutil/e2e/e2eConfigs/badgeserver2/badgeserver.yml
  testutil/e2e/e2eConfigs/consumer/ethConsumer1.yml
  testutil/e2e/e2eConfigs/consumer/ethConsumer2.yml
  testutil/e2e/e2eConfigs/consumer/lavaConsumer1.yml
  testutil/e2e/e2eConfigs/consumer/lavaConsumer2.yml
  testutil/e2e/e2eConfigs/consumer/lavaConsumerEmergency1.yml
  testutil/e2e/e2eConfigs/policies/consumer_policy.yml
  testutil/e2e/e2eConfigs/provider/jsonrpcProvider1.yml
  testutil/e2e/e2eConfigs/provider/jsonrpcProvider2.yml
  testutil/e2e/e2eConfigs/provider/jsonrpcProvider3.yml
  testutil/e2e/e2eConfigs/provider/jsonrpcProvider4.yml
  testutil/e2e/e2eConfigs/provider/jsonrpcProvider5.yml
  testutil/e2e/e2eConfigs/provider/lavaProvider10.yml
  testutil/e2e/e2eConfigs/provider/lavaProvider6.yml
  testutil/e2e/e2eConfigs/provider/lavaProvider7.yml
  testutil/e2e/e2eConfigs/provider/lavaProvider8.yml
  testutil/e2e/e2eConfigs/provider/lavaProvider9.yml
  testutil/e2e/paymentE2E.go
  testutil/e2e/protocolE2E.go
  testutil/e2e/sdk/tests/emergency_mode_badge.ts
  testutil/e2e/sdk/tests/emergency_mode_badge_err.ts
  testutil/e2e/sdk/tests/jsonrpc_badge.ts
  testutil/e2e/sdk/tests/jsonrpc_chainId_fetch.ts
  testutil/e2e/sdk/tests/package.json
  testutil/e2e/sdk/tests/rest_chainId_fetch.ts
  testutil/e2e/sdk/tests/rest_optional_params.ts
  testutil/e2e/sdkE2E.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing

#1533 fix: release-pipeline-cosmovisor-fix
  .github/workflows/release.yml
  cmd/lavad/Dockerfile
  cmd/lavap/Dockerfile
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap

#1525 feat: movement spec
  cookbook/specs/aptos.json
  cookbook/specs/movement.json
Labels: C:specs

#1536 fix: PRT-1203: Reduce critical Snyk errors on GitHub
  ecosystem/lava-sdk/package.json
  ecosystem/lava-sdk/yarn.lock
  go.mod
  go.sum
  protocol/badgegenerator/server.go
  protocol/badgeserver/server.go
  protocol/lavaprotocol/request_builder.go
  protocol/lavaprotocol/response_builder.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  utils/sigs/sigs.go
Labels: C:protocol, Team:Protocol

#1544 fix: PRT - TTL on errored messages for too long. increased protocol version 2.2.3
  ecosystem/cache/handlers.go
  ecosystem/cache/server.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/statetracker/updaters/event_tracker.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1482 feat: IPRPC over IBC: Part 7 - CNS-969 update README
  x/rewards/README.md
Labels: Type: Build, Team:Consensus, C:x/rewards, C:proto, Type: Proto

#1481 feat: IPRPC over IBC: Part 6 - CNS-968: IBC middleware testing
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/mock_keepers.go
  x/rewards/README.md
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/ibc_iprpc_test.go
Labels: Team:Consensus, C:x/rewards

#1470 feat: IPRPC over IBC: Part 5 - CNS-967: Cover pending IBC IPRPC fund costs
  proto/lavanet/lava/rewards/tx.proto
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/mock_keepers.go
  x/rewards/README.md
  x/rewards/client/cli/tx.go
  x/rewards/client/cli/tx_cover_ibc_iprpc_fund_cost.go
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/ibc_iprpc.go
  x/rewards/keeper/ibc_iprpc_test.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/msg_server_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/errors.go
  x/rewards/types/ibc_iprpc.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost_test.go
  x/rewards/types/tx.pb.go
Labels: C:protocol, Team:Protocol, Type: Build, Type: CI, C:specs, Team:Consensus, C:x/protocol, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:cmd/lavad, C:cmd/lavap, C:x/plans, C:x/rewards, C:x/subscription, C:proto, Type: Proto, C:x/spec, C:x/fixationstore, C:x/projects, Type: Docs, C:x/timerstore

#1457 feat: IPRPC over IBC: Part 4 - CNS-966: pending ibc iprpc fund query
  proto/lavanet/lava/rewards/query.proto
  proto/lavanet/lava/rewards/tx.proto
  scripts/test/cli_test.sh
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/mock_keepers.go
  x/rewards/README.md
  x/rewards/client/cli/query.go
  x/rewards/client/cli/query_pending_ibc_iprpc_funds.go
  x/rewards/client/cli/tx.go
  x/rewards/client/cli/tx_cover_ibc_iprpc_fund_cost.go
  x/rewards/keeper/grpc_query_pending_ibc_iprpc_funds.go
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/ibc_iprpc.go
  x/rewards/keeper/ibc_iprpc_test.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/msg_server_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/errors.go
  x/rewards/types/ibc_iprpc.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost_test.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
  x/rewards/types/tx.pb.go
Labels: Type: Build, Team:Consensus, C:x/rewards, C:proto, Type: Proto

#1452 feat: IPRPC over IBC: Part 3 - CNS-965: Pending IPRPC IBC fund
  proto/lavanet/lava/rewards/genesis.proto
  proto/lavanet/lava/rewards/iprpc.proto
  proto/lavanet/lava/rewards/params.proto
  proto/lavanet/lava/rewards/query.proto
  proto/lavanet/lava/rewards/tx.proto
  scripts/test/cli_test.sh
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/mock_keepers.go
  utils/maps/maps.go
  x/rewards/README.md
  x/rewards/client/cli/query.go
  x/rewards/client/cli/query_pending_ibc_iprpc_funds.go
  x/rewards/client/cli/tx.go
  x/rewards/client/cli/tx_cover_ibc_iprpc_fund_cost.go
  x/rewards/genesis.go
  x/rewards/genesis_test.go
  x/rewards/ibc_middleware.go
  x/rewards/keeper/grpc_query_pending_ibc_iprpc_funds.go
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/ibc_iprpc.go
  x/rewards/keeper/ibc_iprpc_test.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/iprpc_reward.go
  x/rewards/keeper/iprpc_test.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/migrations.go
  x/rewards/keeper/msg_server_cover_ibc_iprpc_fund_cost.go
  x/rewards/keeper/msg_server_fund_iprpc.go
  x/rewards/keeper/params.go
  x/rewards/keeper/pool_test.go
  x/rewards/module.go
  x/rewards/types/errors.go
  x/rewards/types/genesis.go
  x/rewards/types/genesis.pb.go
  x/rewards/types/genesis_test.go
  x/rewards/types/ibc_iprpc.go
  x/rewards/types/ibc_iprpc_test.go
  x/rewards/types/iprpc.pb.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost_test.go
  x/rewards/types/params.go
  x/rewards/types/params.pb.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
  x/rewards/types/tx.pb.go
Labels: Team:Consensus, C:x/rewards, C:proto, Type: Proto

#1450 feat: IPRPC over IBC: Part 2 - CNS-964: CLI for submitting an IPRPC over IBC proposal
  proto/lavanet/lava/rewards/genesis.proto
  proto/lavanet/lava/rewards/iprpc.proto
  proto/lavanet/lava/rewards/params.proto
  proto/lavanet/lava/rewards/query.proto
  proto/lavanet/lava/rewards/tx.proto
  scripts/test/cli_test.sh
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/mock_keepers.go
  utils/maps/maps.go
  x/rewards/README.md
  x/rewards/client/cli/query.go
  x/rewards/client/cli/query_pending_ibc_iprpc_funds.go
  x/rewards/client/cli/tx.go
  x/rewards/client/cli/tx_cover_ibc_iprpc_fund_cost.go
  x/rewards/client/cli/tx_submit_ibc_iprpc_proposal.go
  x/rewards/genesis.go
  x/rewards/genesis_test.go
  x/rewards/ibc_middleware.go
  x/rewards/keeper/grpc_query_pending_ibc_iprpc_funds.go
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/ibc_iprpc.go
  x/rewards/keeper/ibc_iprpc_test.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/iprpc_reward.go
  x/rewards/keeper/iprpc_test.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/migrations.go
  x/rewards/keeper/msg_server_cover_ibc_iprpc_fund_cost.go
  x/rewards/keeper/msg_server_fund_iprpc.go
  x/rewards/keeper/params.go
  x/rewards/keeper/pool_test.go
  x/rewards/module.go
  x/rewards/types/errors.go
  x/rewards/types/genesis.go
  x/rewards/types/genesis.pb.go
  x/rewards/types/genesis_test.go
  x/rewards/types/ibc_iprpc.go
  x/rewards/types/ibc_iprpc_test.go
  x/rewards/types/iprpc.pb.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost.go
  x/rewards/types/message_cover_ibc_iprpc_fund_cost_test.go
  x/rewards/types/params.go
  x/rewards/types/params.pb.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
  x/rewards/types/tx.pb.go
Labels: Type: Build, Team:Consensus, C:x/rewards, C:proto, Type: Proto

#1434 feat: stride spec add
  cookbook/specs/stride.json
Labels: C:specs

#1407 feat: elys spec add
  cookbook/specs/elys.json
Labels: C:specs

#1552 feat: CNS-992-bera-chain-v-0-2-0
  cookbook/specs/bera.json
Labels: C:specs

#1556 fix: Update OpenAPI
  docs/static/openapi.yml
Labels: Type: Docs

#1553 fix: PRT: Change near spamming parse log from warn to debug until fixed
  protocol/parser/parser.go
Labels: C:protocol, Team:Protocol

#1558 fix: CNS-eth_getProof-parsing
  cookbook/specs/ethereum.json
Labels: C:specs

#1561 feat: PRT - Add lavajs tx unitest
  ecosystem/lavajs/package.json
  ecosystem/lavajs/yarn.lock
  testutil/e2e/sdk/tests/lavajs_buy_subscription_code.ts
  testutil/e2e/sdk/tests/lavajs_test.ts
  testutil/e2e/sdk/tests/package.json
  testutil/e2e/sdk/tests/yarn.lock
Labels: Team:Protocol

#1546 feat: PRT: Decrease polling time for lava network
  protocol/chaintracker/chain_tracker.go
  protocol/chaintracker/config.go
  protocol/statetracker/state_tracker.go
  protocol/statetracker/updaters/state_query.go
Labels: C:protocol, Team:Protocol

#1550 fix: Add support for REST delegator rewards query to show all rewards
  proto/lavanet/lava/dualstaking/query.proto
  x/dualstaking/keeper/grpc_query_delegator_rewards.go
  x/dualstaking/types/query.pb.go
  x/dualstaking/types/query.pb.gw.go
Labels: Team:Consensus, C:x/dualstaking, C:proto, Type: Proto

#1575 fix: PRT-1178: Subscription phase 1 unsubscribe fix
  cookbook/specs/ethereum.json
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/chainlib/jsonRPC.go
  protocol/common/errors.go
  protocol/common/strings.go
  protocol/rpcconsumer/rpcconsumer.go
  scripts/init_chain.sh
Labels: C:protocol, Team:Protocol, Type: Build, C:specs

#1577 feat: PRT - allow gas prices modifications on providers process. adjust default gas.
  cmd/lavad/main.go
  cmd/lavap/main.go
  config.yml
  ecosystem/lava-sdk/scripts/setup_sdk_with_local.sh
  ecosystem/lava-sdk/scripts/setup_sdk_with_local_badge.sh
  protocol/statetracker/tx_sender.go
  scripts/init_chain_commands.sh
  scripts/pre_setups/init_aptos_only_test.sh
  scripts/pre_setups/init_arbitrum_only_test.sh
  scripts/pre_setups/init_avalanch_only.sh
  scripts/pre_setups/init_axelar_only_with_node.sh
  scripts/pre_setups/init_canto_only_test.sh
  scripts/pre_setups/init_eth_archive_mix.sh
  scripts/pre_setups/init_evmos_only_test.sh
  scripts/pre_setups/init_evmos_only_with_node.sh
  scripts/pre_setups/init_fvm_only_test.sh
  scripts/pre_setups/init_lava_only_test.sh
  scripts/pre_setups/init_lava_only_test_5.sh
  scripts/pre_setups/init_lava_only_test_with_badge.sh
  scripts/pre_setups/init_lava_only_with_node.sh
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  scripts/pre_setups/init_lava_only_with_node_with_cache.sh
  scripts/pre_setups/init_lava_only_with_node_with_relayserver.sh
  scripts/pre_setups/init_moralis_only.sh
  scripts/pre_setups/init_near_only_with_node.sh
  scripts/pre_setups/init_osmosis_only.sh
  scripts/pre_setups/init_solana_only.sh
  scripts/pre_setups/init_sqdsubgraph_only.sh
  scripts/pre_setups/init_starknet_addons_only_with_node.sh
  scripts/pre_setups/setup_lavavisor_dev_test.sh
  scripts/test/add_validator.sh
  scripts/test/cli_test.sh
  scripts/test/init_e2e.sh
  scripts/test/init_e2e_lava_over_lava.sh
  scripts/test/init_payment_e2e.sh
  scripts/test/jail_provider_test.sh
  scripts/test_spec_full.sh
  scripts/upgrade_proposal.sh
Labels: C:protocol, Team:Protocol, Type: Build, C:cmd/lavad, C:cmd/lavap

#1569 fix: CNS-modify-stake-validator
  x/pairing/client/cli/tx_modify_provider.go
  x/pairing/keeper/msg_server_stake_provider_test.go
Labels: Team:Consensus, C:x/pairing

#1565 feat: multi send CLI
  cmd/lavad/main.go
  utils/address.go
  utils/cli/multisend.go
  utils/common/types/provider.go
  x/dualstaking/keeper/balance.go
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/hooks_test.go
  x/dualstaking/keeper/migrations.go
  x/dualstaking/keeper/msg_server_claim_rewards.go
  x/dualstaking/keeper/msg_server_delegate.go
  x/dualstaking/keeper/msg_server_unbond.go
  x/dualstaking/types/keys.go
  x/dualstaking/types/message_claim_rewards.go
  x/dualstaking/types/message_delegate.go
  x/dualstaking/types/message_delegate_test.go
  x/dualstaking/types/message_redelegate.go
  x/dualstaking/types/message_redelegate_test.go
  x/dualstaking/types/message_unbond.go
  x/dualstaking/types/message_unbond_test.go
Labels: Team:Consensus, C:x/dualstaking, C:cmd/lavad

#1579 chore: bump protocol
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1580 fix: cross compile with goreleaser
  .github/workflows/release.yml
Labels: Type: CI

#1581 chore: Fix go-releaser-crosscompile
  .github/workflows/release.yml
Labels: Type: CI

#1583 feat: PRT - default gas prices for tx factory. allowing users to set their custom gas price.
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
Labels: C:protocol, Team:Protocol

#1543 feat: Add Prometheus metrics for processing time before and after sending relay
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/metrics/analytics.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1587 feat: PRT - adding prometheus metric for node errors.
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1590 ci: add docker layer cache
  .github/workflows/lava.yml
Labels: Type: CI, size/XS

#1554 feat: PRT - Adding multiple provider connections
  .github/workflows/lava.yml
  ecosystem/lava-sdk/src/providerOptimizer/providerOptimizer.test.ts
  protocol/lavaprotocol/finalization_consensus_test.go
  protocol/lavaprotocol/response_builder_test.go
  protocol/lavaprotocol/reuqest_builder_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/end_to_end_lavasession_test.go
  protocol/lavasession/single_consumer_session.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager_test.go
  protocol/rpcprovider/rpcprovider_server_test.go
  protocol/statetracker/updaters/pairing_updater.go
Labels: C:protocol, Team:Protocol, Type: CI, size/XL

#1592 feat: PRT - lavap version 2.2.5
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1595 feat: PRT - remove node errors from cache.
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chainlib.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/L

#1594 feat: CNS-lava-spec-add-new-api
  cookbook/specs/lava.json
  scripts/automation_scripts/update_cosmos_spec_from_grpc.py
Labels: C:specs, size/L

#1596 feat: PRT - change time measurement from ms to us
  protocol/metrics/metrics_consumer_manager.go
Labels: C:protocol, Team:Protocol, size/S

#1597 fix: PRT-url-allow-empty-last-arg
  protocol/chainlib/base_chain_parser.go
Labels: C:protocol, Team:Protocol, size/XS

#1570 refactor: CNS-998 - use collections instead of KV stores
  go.mod
  go.sum
  utils/collcompat/collcompat.go
  utils/serialize.go
  x/epochstorage/keeper/epoch_start.go
  x/epochstorage/keeper/keeper.go
  x/epochstorage/keeper/migrations.go
  x/epochstorage/keeper/stake_entries.go
  x/epochstorage/keeper/stake_entries_test.go
  x/epochstorage/types/keys.go
  x/epochstorage/types/stake_entries.go
  x/pairing/keeper/filters/filter.go
  x/pairing/keeper/pairing_test.go
  x/pairing/keeper/unresponsive_provider.go
  x/pairing/keeper/unstaking.go
Labels: Team:Consensus, C:x/epochstorage, C:x/pairing, size/XL

#1589 refactor: CNS-996 - Add events for rewards
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/types/types.go
  x/pairing/types/expected_keepers.go
  x/rewards/README.md
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/providers.go
  x/rewards/types/expected_keepers.go
  x/subscription/keeper/cu_tracker.go
  x/subscription/types/expected_keepers.go
  x/subscription/types/types.go
Labels: Team:Consensus, C:x/dualstaking, C:x/pairing, C:x/rewards, C:x/subscription, size/M
