Repository lavanet/lava, pull requests merged in 2024-09, with the labels that each got.

#1659 fix: total gas query: check sequence
  utils/cli/multisend.go
Labels: size/S

#1664 fix: CNS-v3.1.0
  app/app.go
  app/upgrades/empty_upgrades.go
  x/pairing/keeper/migrations.go
  x/pairing/module.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, C:x/pairing, size/M

#1660 feat: PRT- adding provider retry mechanism on node error for better QOS
  protocol/chaintracker/chain_tracker.go
  protocol/lavaprotocol/relay_retries_manager.go
  protocol/metrics/consumer_referrer_client_test.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/provider_state_machine.go
  protocol/rpcprovider/provider_state_machine_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/statetracker/updaters/state_query.go
Labels: C:protocol, Team:Protocol, size/L

#1669 feat: PRT - adding api requested to returned headers
  protocol/common/endpoints.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/S

#1668 feat: PRT - Consumer state machine
  cookbook/projects/policy_all_chains_with_extension.yml
  protocol/lavasession/used_providers.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/consumer_relay_state_machine_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/provider_state_machine.go
Labels: C:protocol, Team:Protocol, C:specs, size/XL

#1670 feat: CNS-remove-delegation-limit
  docker/common/post_node_init.sh
  proto/lavanet/lava/epochstorage/stake_entry.proto
  scripts/init_chain_commands.sh
  scripts/pre_setups/init_axelar_only_with_node.sh
  scripts/pre_setups/init_eth_archive_mix.sh
  scripts/pre_setups/init_evmos_only_with_node.sh
  scripts/pre_setups/init_lava_only_test_5.sh
  scripts/pre_setups/init_lava_only_with_node.sh
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  scripts/pre_setups/init_lava_only_with_node_two_consumers.sh
  scripts/pre_setups/init_lava_only_with_node_with_cache.sh
  scripts/pre_setups/init_lava_static_provider.sh
  scripts/pre_setups/init_near_only_with_node.sh
  scripts/test/cli_test.sh
  scripts/test/inich_100_providers.sh
  scripts/test/init_e2e.sh
  scripts/test/init_e2e_lava_over_lava.sh
  scripts/test/init_payment_e2e.sh
  scripts/test_spec_full.sh
  testutil/common/tester.go
  x/conflict/keeper/vote.go
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/delegate_test.go
  x/dualstaking/keeper/delegator_reward.go
  x/epochstorage/types/stake_entries.go
  x/epochstorage/types/stake_entry.pb.go
  x/pairing/client/cli/tx_modify_provider.go
  x/pairing/client/cli/tx_stake_provider.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/migrations.go
  x/pairing/keeper/msg_server_stake_provider.go
  x/pairing/keeper/msg_server_stake_provider_test.go
  x/pairing/keeper/msg_server_unfreeze.go
  x/pairing/keeper/scores/stake_req.go
  x/pairing/keeper/staking.go
  x/pairing/types/message_stake_provider.go
  x/pairing/types/types.go
  x/rewards/keeper/providers.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
Labels: Type: Build, Team:Consensus, C:x/protocol, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:x/conflict, C:x/plans, C:x/rewards, C:x/subscription, C:proto, Type: Proto, C:x/spec, C:x/fixationstore, C:x/projects, C:x/timerstore, C:x/downtime, size/L

#1667 feat: add fantom trace addon
  cookbook/specs/fantom.json
Labels: C:specs, size/M

#1681 feat: CNS-lava-spec-add-identity
  cookbook/specs/lava.json
  cookbook/specs/lava_mainnet.json
Labels: C:specs, size/XS

#1680 feat: PRT - Adding extension trailer for cached replies, and, node er…
  protocol/common/endpoints.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
  scripts/pre_setups/init_lava_only_with_node_with_cache_archive.sh
Labels: C:protocol, Team:Protocol, size/L

#1682 fix: PRT - fix race condition on state machine stateful state
  protocol/rpcconsumer/consumer_relay_state_machine.go
Labels: C:protocol, Team:Protocol, size/S

#1684 feat: PRT - add archive integration tests.
  protocol/integration/protocol_test.go
Labels: C:protocol, Team:Protocol, size/L

#1685 feat: PRT - increase protocol version.
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1687 fix: PRT - Fix a race condition in the policy updater map
  protocol/rpcconsumer/policies_map.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/S

#1690 feat: GRPC health
  protocol/chainlib/grpcproxy/grpcproxy.go
  protocol/rpcprovider/provider_listener.go
Labels: C:protocol, Team:Protocol, size/XS

#1692 fix: PRT: Attempt on fixing the statistical subscription test fail
  protocol/chainlib/provider_node_subscription_manager_test.go
Labels: C:protocol, Team:Protocol, size/S

#1691 ci: docker build speedup
  .dockerignore
  .github/workflows/lava.yml
  cmd/lavad/Dockerfile
  cmd/lavad/Dockerfile.Cosmovisor
  cmd/lavap/Dockerfile
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap, size/M

#1696 fix: PRT - Fix failing E2E on emergency mode
  testutil/e2e/allowedErrorList.go
Labels: size/XS

#1688 fix: PRT: Fix all sync.Map uses
  protocol/chainlib/grpc.go
  protocol/chaintracker/chain_tracker.go
  protocol/chaintracker/chain_tracker_test.go
  protocol/common/safe_sync_map.go
  protocol/integration/protocol_test.go
  protocol/rpcconsumer/policies_map.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/testing.go
  protocol/rpcprovider/chain_tackers.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/events.go
  protocol/statetracker/state_tracker.go
Labels: C:protocol, Team:Protocol, size/L

#1679 feat: adding provider optimizer tiers
  protocol/common/cobra_common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/provideroptimizer/selection_tier.go
  protocol/provideroptimizer/selection_tier_test.go
  protocol/provideroptimizer/selection_weight.go
  protocol/provideroptimizer/selection_weight_test.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/XXL

#1697 fix: PRT - fix race in payments e2e
  scripts/test/init_payment_e2e.sh
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1698 fix: PRT - Fix race cause by using a field that supposed to be read under a lock
  protocol/chainlib/consumer_ws_subscription_manager.go
Labels: C:protocol, Team:Protocol, size/XS

#1699 feat: PRT - increase protocol version 3-1-7
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1700 fix: PRT - optimizer test fix
  protocol/provideroptimizer/provider_optimizer_test.go
Labels: C:protocol, Team:Protocol, size/XS

#1708 feat: PRT - Add cache to protocol integration tests
  ecosystem/cache/server.go
  go.mod
  protocol/integration/protocol_test.go
Labels: C:protocol, Team:Protocol, size/XL

#1712 feat: PRT - adding stateful api header for hanging relays
  protocol/common/endpoints.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/S

#1672 fix: audit fixes
  x/conflict/keeper/conflict.go
  x/conflict/keeper/msg_server_detection.go
  x/conflict/types/conflict.go
  x/pairing/keeper/keeper.go
  x/pairing/keeper/pairing.go
  x/pairing/keeper/pairing_cache.go
  x/pairing/keeper/pairing_cache_test.go
  x/pairing/keeper/scores/pairing_slot.go
  x/pairing/keeper/scores/stake_req.go
  x/projects/keeper/creation.go
  x/projects/types/project.go
  x/spec/keeper/spec.go
  x/spec/types/api_collection.go
  x/spec/types/combinable.go
  x/spec/types/spec.go
  x/subscription/keeper/subscription.go
Labels: Team:Consensus, C:x/pairing, C:x/conflict, C:x/subscription, C:x/spec, C:x/projects, size/L

#1695 feat: PRT: Add subscription metrics
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/L

#1713 feat: PRT - add rate limit to ws
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/common/cobra_common.go
  protocol/common/return_errors.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/M

#1704 feat: CNS-short-block-script
  scripts/automation_scripts/short_block_proposers.py
Labels: size/M

#1717 fix: PRT - fix ws issue reaching subscription flow from regular relay flow
  protocol/chainlib/consumer_websocket_manager.go
  protocol/metrics/rpcconsumerlogs.go
Labels: C:protocol, Team:Protocol, size/S

#1716 test: PRT - Attempt on fixing the statistical cache integration test failure
  protocol/integration/protocol_test.go
Labels: C:protocol, Team:Protocol, size/L

#1719 feat: PRT - add ban duration for websocket rate limit exceeded
  protocol/chainlib/consumer_websocket_manager.go
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/S

#1715 fix: fix modify-provider validator flag
  x/pairing/client/cli/tx_modify_provider.go
Labels: Team:Consensus, C:x/pairing, size/XS
