Repository lavanet/lava, pull requests merged in 2024-06, with the labels that each got.

#1458 feat: Lava Docker support
  .dockerignore
  .github/workflows/lava.yml
  .github/workflows/release.yml
  Dockerfile
  cmd/lavad/Dockerfile
  cmd/lavap/Dockerfile
Labels: Type: Build, Type: CI, C:cmd/lavad, C:cmd/lavap

#1465 fix: docker tag support
  .github/workflows/release.yml
Labels: Type: Build, Type: CI, C:cmd/lavad, C:cmd/lavap

#1468 fix: docker push temp fix
  .github/workflows/lava.yml
Labels: Type: CI

#1456 fix: CNS-973: added pruning verification to EVMOS
  cookbook/specs/evmos.json
Labels: C:specs

#1461 fix: near archive testnet
  cookbook/specs/near.json
Labels: C:specs

#1453 feat: PRT - adding useful headers
  cookbook/projects/policy_all_chains_with_extension.yml
  protocol/chainlib/chainproxy/connector.go
  protocol/chainlib/chainproxy/connector_test.go
  protocol/chainlib/common.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, C:specs

#1464 feat: docker compose support
  .github/workflows/lava.yml
  README.md
  cmd/lavad/Dockerfile
  cmd/lavap/Dockerfile
  docker/README.md
  docker/docker-compose.state-sync.yml
Labels: Type: CI, C:cmd/lavad, C:cmd/lavap

#1479 fix: CNS-fix-freeze-test-determinism
  x/pairing/keeper/unresponsive_provider_test.go
Labels: Team:Consensus, C:x/pairing

#1474 fix: CNS-974: remove modify-provider limitation of reducing stake
  x/pairing/client/cli/tx_modify_provider.go
Labels: Team:Consensus, C:x/pairing

#1459 feat: PRT adding errored and blocked providers to headers and fixing archive issue
  cookbook/specs/cosmossdk.json
  protocol/chainlib/chainproxy/rpcInterfaceMessages/grpcMessage.go
  protocol/chainlib/grpcproxy/grpcproxy.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/tendermintRPC.go
  protocol/common/endpoints.go
  protocol/integration/protocol_test.go
  protocol/lavaprotocol/finalization_consensus.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_consumer_session.go
  protocol/metrics/metricsService.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/relay_errors.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/statetracker/consumer_state_tracker.go
  protocol/statetracker/emergency_tracker.go
  protocol/statetracker/updaters/finalization_consensus_updater.go
  protocol/statetracker/updaters/pairing_updater.go
  protocol/statetracker/updaters/state_query.go
  protocol/statetracker/updaters/version_updater.go
Labels: C:protocol, Team:Protocol, C:specs

#1477 feat: PRT-add-archive-header-indicator
  protocol/chainlib/chain_router.go
  protocol/chainlib/common.go
  protocol/common/endpoints.go
  protocol/lavasession/router_key.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_aptos_only_test.sh
  scripts/pre_setups/init_arbitrum_only_test.sh
  scripts/pre_setups/init_avalanch_only.sh
  scripts/pre_setups/init_axelar_only_with_node.sh
  scripts/pre_setups/init_canto_only_test.sh
  scripts/pre_setups/init_eth_archive_mix.sh
  scripts/pre_setups/init_evmos_only_test.sh
  scripts/pre_setups/init_evmos_only_with_node.sh
  scripts/pre_setups/init_fvm_only_test.sh
  scripts/pre_setups/init_lava_only_test.sh
  scripts/pre_setups/init_lava_only_test_5.sh
  scripts/pre_setups/init_lava_only_test_with_badge.sh
  scripts/pre_setups/init_lava_only_with_node.sh
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  scripts/pre_setups/init_lava_only_with_node_with_cache.sh
  scripts/pre_setups/init_lava_only_with_node_with_relayserver.sh
  scripts/pre_setups/init_moralis_only.sh
  scripts/pre_setups/init_near_only_with_node.sh
  scripts/pre_setups/init_osmosis_only.sh
  scripts/pre_setups/init_solana_only.sh
  scripts/pre_setups/init_starknet_addons_only_with_node.sh
  scripts/pre_setups/setup_lavavisor_dev_test.sh
  scripts/test/cli_test.sh
  scripts/test/init_e2e.sh
  scripts/test/jail_provider_test.sh
  scripts/test_spec_full.sh
  testutil/e2e/protocolE2E.go
  testutil/e2e/sdkE2E.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, Team:Consensus, C:x/protocol

#1484 feat: CNS-v2.1.2
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1483 docs: Repo Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  CODE_OF_CODUCT.md
  CODING_GUIDELINES.md
  CONTRIBUTING.md
  README.md
  docs/proposals/001-proposal-template.md
  docs/proposals/002-iprpc-over-IBC.md
Labels: Type: CI, Type: Docs

#1486 docs: fix docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: Type: CI

#1480 fix: CNS-975-fix-authz-within-authz-in-redelegate-hook
  x/dualstaking/ante/disable_redelegation_hooks.go
  x/dualstaking/ante/disable_redelegation_hooks_test.go
Labels: Team:Consensus, C:x/dualstaking

#1487 feat: PRT-adding relay debug headers
  protocol/common/endpoints.go
  protocol/lavasession/used_providers.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  testutil/e2e/allowedErrorList.go
  testutil/e2e/paymentE2E.go
  testutil/e2e/protocolE2E.go
  testutil/e2e/sdk/e2e.go
  testutil/e2e/sdkE2E.go
Labels: C:protocol, Team:Protocol

#1488 fix: CNS-976-fix-slashing-bug-with-dualstaking
  proto/lavanet/lava/dualstaking/params.proto
  testutil/common/tester.go
  x/dualstaking/keeper/hooks.go
  x/dualstaking/keeper/keeper.go
  x/dualstaking/keeper/slashing.go
  x/dualstaking/types/keys.go
  x/dualstaking/types/params.pb.go
Labels: Team:Consensus, C:x/dualstaking, C:proto, Type: Proto

#1490 feat: CNS-v2.1.3
  app/app.go
  app/upgrades/empty_upgrades.go
Labels: Team:Consensus

#1489 feat: CNS add pruning to lav1
  cookbook/specs/lava.json
Labels: C:specs

#1499 docs: fix errors
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  x/conflict/README.md
  x/pairing/README.md
  x/rewards/README.md
  x/spec/README.md
Labels: Team:Consensus, C:x/pairing, C:x/conflict, C:x/rewards, C:x/spec

#1501 fix: CNS default keyring remove
  cmd/lavad/main.go
  cmd/lavap/main.go
  scripts/init_chain.sh
Labels: Type: Build, C:cmd/lavad, C:cmd/lavap

#1500 feat: CNS-lava-spec
  cookbook/plans/gateway.json
  cookbook/specs/lava_mainnet.json
Labels: C:specs

#1498 fix: archive testnet verification
  cookbook/specs/near.json
Labels: C:specs

#1510 fix: PRT: Consumer blocked sessions bug
  protocol/lavasession/common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/rpcconsumer/rpcconsumer_server.go
  utils/math.go
Labels: C:protocol, Team:Protocol

#1513 fix: CNS-near-add-tx-api
  cookbook/specs/near.json
Labels: C:specs

#1512 fix: PRT-fix-relay-timeout-issues
  protocol/chainlib/grpc.go
  protocol/common/timeout.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1497 feat: PRT - adding relay payment csv command
  cmd/lavap/main.go
  protocol/rpcprovider/rewardserver/reward_server.go
  protocol/statetracker/events.go
Labels: C:protocol, Team:Protocol, C:cmd/lavap

#1517 chore: PRT - update readme
  ecosystem/lavajs/README.md
Labels: Team:Protocol

#1447 feat: spec kakarot
  cookbook/specs/kakarot.json
Labels: C:specs

#1518 fix: PRT: Fix small IsOf function call bug
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1519 feat: PRT - providers second chance mechanism implemented
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
Labels: C:protocol, Team:Protocol

#1520 fix: add prints when failing CORS
  protocol/rpcprovider/testing.go
Labels: C:protocol, Team:Protocol
