Repository lavanet/lava, pull requests merged in 2024-04, with the labels that each got.

#1334 chore: CNS-894-create-gateway-plan
  cookbook/plans/gateway.json
Labels: C:specs

#1346 fix: CNS-939-fix-delegation-gas-cost
  x/dualstaking/keeper/hooks.go
Labels: Team:Consensus, C:x/dualstaking

#1342 feat: Add Zksync Era Specification
  cookbook/specs/spec_add_zksync.json
Labels: C:specs

#1354 fix: CNS-epoch-payments-keys-fix
  x/pairing/types/epoch_cu.go
Labels: Team:Consensus, C:x/pairing

#1358 fix: CNS-epoch-payments-keys-fix
  app/app.go
  app/upgrades/empty_upgrades.go
Labels: Team:Consensus, C:x/pairing

#1351 fix: PRT-fixing-1-0-4-race-condition-for-returning-valid-responses
  cookbook/param_changes/param_change_epoch_params.json
  protocol/chainlib/common.go
  protocol/common/timeout.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/reported_providers.go
  protocol/lavasession/used_providers.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
Labels: C:protocol, Team:Protocol, C:specs

#1361 chore: PRT-target version 1.2.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol

#1359 feat: CNS-940: Goerli deprecation
  config/consumer_examples/full_consumer_example.yml
  config/provider_examples/all_endpoints.yml
  cookbook/backups/spec_add_optimism_fast_lookup.json
  cookbook/projects/policy_all_chains_with_addon.yml
  cookbook/projects/policy_all_chains_with_extension.yml
  cookbook/specs/spec_add_base.json
  cookbook/specs/spec_add_ethereum.json
  cookbook/specs/spec_add_optimism.json
  cookbook/specs/spec_add_polygon.json
  cookbook/specs/spec_add_starknet.json
  scripts/cli_test.sh
  scripts/init_chain_commands.sh
  scripts/init_e2e_lava_over_lava.sh
  scripts/setup_providers.sh
  testutil/e2e/e2eProviderConfigs/consumer_policy.yml
  testutil/e2e/protocolE2E.go
Labels: Type: Build, C:specs

#1366 chore: PRT-add more info to relay timeout case
  cookbook/specs/spec_add_near.json
  protocol/chainlib/chainproxy/common.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/common.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/grpcMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/restMessage.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/tendermintRPC.go
  protocol/lavasession/common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/parser/parser.go
  protocol/parser/parser_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_near_only_with_node.sh
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, C:specs, Team:Consensus, C:x/protocol

#1371 fix: add retries to the first send relay
  protocol/lavasession/common.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1362 feat: added command for testing validator performance
  cmd/lavap/main.go
  protocol/performance/validators/validators.go
Labels: C:protocol, Team:Protocol, C:cmd/lavap

#1367 fix: CNS-remove-fvm-pruning-verification
  cookbook/specs/spec_add_fvm.json
Labels: C:specs

#1374 feat: PRT-add metrics to rpcconsumer sessions
  ecosystem/lavajs/package.json
  ecosystem/lavajs/scripts/codegen.js
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node.sh
Labels: C:protocol, Team:Protocol

#1375 chore: CNS-LAV1-spec-pruning
  cookbook/specs/spec_add_lava.json
Labels: C:specs

#1376 fix: PRT-fix context timeout when sending relay retries
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol

#1357 fix: CNS-delegate-full-truncation-issue
  x/dualstaking/keeper/msg_server_delegate.go
Labels: Team:Consensus, C:x/dualstaking

#1356 fix: CNS-delegators-slashing-hook-fix
  app/app.go
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  x/dualstaking/keeper/balance.go
  x/dualstaking/keeper/hooks.go
  x/dualstaking/keeper/hooks_test.go
  x/dualstaking/keeper/keeper.go
  x/dualstaking/keeper/slashing.go
  x/dualstaking/module.go
  x/dualstaking/types/expected_keepers.go
Labels: Team:Consensus, C:x/dualstaking

#1379 fix: PRT-fix-reporting-providers-from-different-geolocations
  ecosystem/cache/server.go
  protocol/chainlib/grpcproxy/grpcproxy.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/used_providers.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/statetracker/events.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1370 feat: CNS-942: remove stake entry index usage
  utils/address.go
  x/conflict/keeper/conflict.go
  x/conflict/keeper/vote.go
  x/conflict/types/expected_keepers.go
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/delegate_test.go
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/keeper/helpers_test.go
  x/dualstaking/keeper/hooks_test.go
  x/dualstaking/keeper/migrations.go
  x/dualstaking/types/expected_keepers.go
  x/epochstorage/keeper/stake_storage.go
  x/epochstorage/types/stake_storage.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/discipline.go
  x/pairing/keeper/grpc_query_provider_monthly_payout.go
  x/pairing/keeper/msg_server_freeze.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/keeper/msg_server_relay_payment_test.go
  x/pairing/keeper/msg_server_stake_provider_test.go
  x/pairing/keeper/msg_server_unfreeze.go
  x/pairing/keeper/msg_server_unstake_provider_test.go
  x/pairing/keeper/staking.go
  x/pairing/keeper/unresponsive_provider_test.go
  x/pairing/keeper/unstaking.go
  x/pairing/types/expected_keepers.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/providers.go
  x/rewards/types/expected_keepers.go
  x/subscription/keeper/cu_tracker.go
  x/subscription/types/expected_keepers.go
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:x/conflict, C:x/rewards, C:x/subscription

#1387 fix: PRT - fixing retry spam on executed transactions
  README.md
  protocol/lavasession/consumer_session_manager.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1381 feat: PRT - tx counter command
  cmd/lavap/main.go
  protocol/common/conf.go
  protocol/rpcprovider/testing.go
  protocol/statetracker/events.go
Labels: C:protocol, Team:Protocol, C:cmd/lavap

#1385 feat: CNS-941: support address arguments from keyring
  utils/address.go
  x/conflict/client/cli/query_consumer_conflicts.go
  x/conflict/client/cli/query_provider_conflicts.go
  x/dualstaking/client/cli/query_delegator_providers.go
  x/dualstaking/client/cli/query_delegator_rewards.go
  x/dualstaking/client/cli/query_provider_delegators.go
  x/dualstaking/client/cli/tx_claim_rewards.go
  x/dualstaking/client/cli/tx_delegate.go
  x/dualstaking/client/cli/tx_redelegate.go
  x/dualstaking/client/cli/tx_unbond.go
  x/pairing/client/cli/query_account_info.go
  x/pairing/client/cli/query_debug_query.go
  x/pairing/client/cli/query_effective_policy.go
  x/pairing/client/cli/query_get_pairing.go
  x/pairing/client/cli/query_provider_monthly_payout.go
  x/pairing/client/cli/query_sdk_pairing.go
  x/pairing/client/cli/query_subscription_monthly_payout.go
  x/pairing/client/cli/query_user_entry.go
  x/pairing/client/cli/query_verify_pairing.go
  x/pairing/client/cli/tx_simulate_relay_payment.go
  x/pairing/client/cli/tx_stake_provider.go
  x/projects/client/cli/query_developer.go
  x/projects/client/cli/tx_add_keys.go
  x/projects/client/cli/tx_del_keys.go
  x/rewards/client/cli/query_iprpc_provider_reward_estimation.go
  x/rewards/client/cli/query_iprpc_spec_reward.go
  x/rewards/client/cli/query_provider_reward.go
  x/subscription/client/cli/query_current.go
  x/subscription/client/cli/query_list_projects.go
  x/subscription/client/cli/tx_auto_renewal.go
  x/subscription/client/cli/tx_buy.go
Labels: Team:Consensus, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/rewards, C:x/subscription, C:x/projects

#1394 feat: PRT-added multiple versions support with internal paths
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/common.go
  protocol/chainlib/common_test.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/test_spec_full.sh
Labels: C:protocol, Team:Protocol, Type: Build

#1365 feat: spec add NAMADA
  cookbook/specs/spec_add_namada.json
Labels: C:specs

#1395 fix: PRT- fixing validators spec issue
  cookbook/specs/spec_add_near.json
Labels: C:specs

#1304 ci: DO-2152 Update test workflows
  .github/workflows/cli_tests.yml
  .github/workflows/consensus_tests.yml
  .github/workflows/e2e.yml
  .github/workflows/lava.yml
  .github/workflows/lava_sdk_tests.yml
  .github/workflows/protocol_tests.yml
Labels: Type: CI

#1389 feat: PRT-adding-api-usage-metrics
  protocol/metrics/analytics.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/metrics_provider_manager.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node.sh
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol

#1380 feat: CNS-946-add-ibc-packet-forwarding
  app/app.go
  app/keepers/lavaKeepers.go
  app/upgrades/empty_upgrades.go
  go.mod
  go.sum
Labels: Team:Consensus

#1397 feat: CNS-945-remove-frozen-from-epochstorage
  x/dualstaking/keeper/delegate_test.go
  x/dualstaking/keeper/delegator_reward.go
  x/dualstaking/keeper/helpers_test.go
  x/epochstorage/types/types.go
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage

#1388 fix: PRT - solving caching errors forever issue
  ecosystem/cache/command.go
  ecosystem/cache/handlers.go
  ecosystem/cache/server.go
  proto/lavanet/lava/pairing/relayCache.proto
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_router.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainproxy/rpcclient/http.go
  protocol/chainlib/common.go
  protocol/chainlib/grpc.go
  protocol/chainlib/grpc_test.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest.go
  protocol/chainlib/rest_test.go
  protocol/chainlib/tendermintRPC.go
  protocol/chainlib/tendermintRPC_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager.go
  protocol/rpcprovider/rpcprovider_server.go
  x/pairing/types/relayCache.pb.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, C:proto, Type: Proto
