Repository lavanet/lava, pull requests merged in 2024-10, with the labels that each got.

#1722 fix: PRT - Add the data to the error log in grpc proxy
  protocol/chainlib/grpcproxy/grpcproxy.go
Labels: C:protocol, Team:Protocol, size/XS

#1724 feat: Add support for experimental releases
  .github/workflows/release.yml
Labels: Type: CI, size/XS

#1676 feat: PRT: Add tokens-owner-indexed verification to Solana spec
  cookbook/specs/solana.json
Labels: C:specs, size/S

#1723 fix: PRT - Replace the method in the debug verification in EVMOS spec
  cookbook/specs/evmos.json
Labels: C:specs, size/M

#1710 feat: PRT - Add the TON spec
  cookbook/specs/ton.json
Labels: C:specs, size/XL

#1730 fix: PRT - validate epoch updater is not already stored
  protocol/statetracker/updaters/epoch_updater.go
Labels: C:protocol, Team:Protocol, size/XS

#1732 feat: PRT - Add provider address to log when failed subscription
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/XS

#1711 feat: PRT - Result generic parser
  proto/lavanet/lava/spec/api_collection.proto
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/grpc_test.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest_test.go
  protocol/parser/parser.go
  protocol/parser/parser_test.go
  x/spec/types/api_collection.pb.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:proto, Type: Proto, C:x/spec, size/XL

#1678 fix: IPRPC pool rewards distribution
  x/dualstaking/keeper/delegator_reward.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/grpc_query_provider_monthly_payout.go
  x/pairing/keeper/unstaking.go
  x/pairing/types/expected_keepers.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/providers.go
  x/rewards/types/expected_keepers.go
  x/subscription/keeper/cu_tracker.go
  x/subscription/types/expected_keepers.go
Labels: Team:Consensus, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:x/rewards, C:x/subscription, size/M

#1725 fix: PRT - Add EVMOS missing debug APIs + remove unsupported
  cookbook/specs/evmos.json
Labels: C:specs, size/M

#1735 feat: PRT - adding metric to check number of websocket connections active at any given time
  protocol/chainlib/consumer_websocket_manager.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
Labels: C:protocol, Team:Protocol, size/S

#1733 fix: PRT - Reduce severity of decode error to debug
  protocol/chainlib/grpcproxy/grpcproxy.go
Labels: C:protocol, Team:Protocol, size/XS

#1736 feat: Fix publish release workflow step
  .github/workflows/release.yml
Labels: Type: CI, size/XS

#1721 feat: CNS-1009 - estimated rewards query by cu
  cookbook/specs/ethereum.json
  proto/lavanet/lava/subscription/query.proto
  testutil/common/tester.go
  x/dualstaking/keeper/balance.go
  x/dualstaking/keeper/delegate.go
  x/dualstaking/keeper/migrations.go
  x/dualstaking/types/delegate.go
  x/pairing/keeper/delegator_rewards_test.go
  x/rewards/keeper/helpers_test.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/providers.go
  x/rewards/keeper/providers_test.go
  x/rewards/types/expected_keepers.go
  x/rewards/types/iprpc.go
  x/subscription/README.md
  x/subscription/client/cli/query.go
  x/subscription/client/cli/query_estimated_rewards.go
  x/subscription/keeper/cu_tracker.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
  x/subscription/types/expected_keepers.go
  x/subscription/types/query.pb.go
  x/subscription/types/query.pb.gw.go
Labels: C:protocol, Team:Protocol, Type: CI, C:specs, Team:Consensus, C:x/dualstaking, C:x/epochstorage, C:x/pairing, C:x/rewards, C:x/subscription, C:proto, Type: Proto, size/XL

#1739 fix: PRT - Fix the bug that prevented existing addons to be enabled after spec update
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/extensionslib/extension_parser.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
Labels: C:protocol, Team:Protocol, size/M

#1741 feat: cns-v3.2.0 upgrade handler
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/S

#1742 ci: workflow trigger
  .github/workflows/release.yml
Labels: Type: CI, size/XS

#1705 feat: PRT - Consumer optimizer QoS client
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/common/cobra_common.go
  protocol/common/safe_sync_map.go
  protocol/integration/protocol_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/metrics/consumer_optimizer_qos_client.go
  protocol/metrics/queue_sender.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/metrics/rpcconsumerlogs_test.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/provideroptimizer/selection_tier.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcconsumer/rpcconsumer_server_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/events.go
  protocol/statetracker/updaters/pairing_updater.go
  utils/maps/maps.go
Labels: C:protocol, Team:Protocol, size/XL

#1746 fix: PRT - fixing total stake amount taking only stake size into consideration
  protocol/statetracker/updaters/pairing_updater.go
Labels: C:protocol, Team:Protocol, size/XS

#1749 ci: Update release.yml
  .github/workflows/release.yml
Labels: Type: CI, size/XS

#1750 fix: CNS-fix-iprpc-cu-iterator
  x/rewards/keeper/base_pay.go
  x/rewards/keeper/helpers_test.go
Labels: Team:Consensus, C:x/rewards, size/XS

#1745 feat: CNS-add-report-event-data-to-relay-payment
  x/pairing/keeper/msg_server_relay_payment.go
Labels: Team:Consensus, C:x/pairing, size/XS

#1737 feat: Adapt cosmos spec updater spec to support Evmos
  scripts/automation_scripts/update_cosmos_spec_from_grpc.py
Labels: size/XS

#1753 feat: CNS-v4-specs
  cookbook/specs/lava.json
  cookbook/specs/lava_mainnet.json
  scripts/automation_scripts/update_cosmos_spec_from_grpc.py
Labels: C:specs, size/L

#1755 fix: PRT - Small fix to the logs that will show the hash properly
  protocol/rpcconsumer/relay_processor.go
Labels: C:protocol, Team:Protocol, size/XS

#1758 fix: PRT - File name changes and a typo
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/consumer_metrics_manager_test.go
  protocol/metrics/metrics_service.go
  protocol/metrics/metrics_test.go
  protocol/metrics/provider_metrics.go
  protocol/metrics/provider_metrics_manager.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/metrics/rpcconsumer_logs_test.go
Labels: C:protocol, Team:Protocol, size/XS

#1760 fix: delegator rewards query bug
  x/dualstaking/client/cli/query_delegator_rewards.go
  x/dualstaking/keeper/grpc_query_delegator_rewards.go
Labels: Team:Consensus, C:x/dualstaking, size/M

#1762 fix: faulty GetValidator helper function in Unstake CLI
  x/dualstaking/client/cli/tx_delegate.go
  x/pairing/client/cli/tx_unstake_provider.go
Labels: Team:Consensus, C:x/dualstaking, C:x/pairing, size/M

#1761 fix: PRT - fixing tendermint node error parser
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/tendermintRPCMessage.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/automation_scripts/pure_proxy.py
Labels: C:protocol, Team:Protocol, size/M

#1763 chore: PRT - added the error so we can solve problems for users
  protocol/chainlib/grpc.go
Labels: C:protocol, Team:Protocol, size/XS

#1734 feat: PRT - Implement cache reconnect mechanism + Cache E2E
  protocol/performance/cache.go
  protocol/performance/errors.go
  testutil/e2e/allowedErrorList.go
  testutil/e2e/protocolE2E.go
Labels: C:protocol, Team:Protocol, size/L

#1764 feat: PRT - adding missing API's to celestia
  cookbook/specs/celestia.json
Labels: C:specs, size/L

#1729 feat: PRT - Add provider freeze and jailed status metric
  protocol/metrics/provider_metrics_manager.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/updaters/provider_freeze_jail_updater.go
  protocol/statetracker/updaters/provider_freeze_jail_updater_mocks.go
  protocol/statetracker/updaters/provider_freeze_jail_updater_test.go
  utils/convert.go
Labels: C:protocol, Team:Protocol, size/L

#1765 fix: v3 paths in main
  protocol/monitoring/chain_heights.go
Labels: C:protocol, Team:Protocol, size/S
