Repository lavanet/lava, pull requests merged in 2024-11, with the labels that each got.

#1726 feat: PRT Block Hash Retry Archive - Part 1, redesign UsedProviders.
  protocol/chainlib/chain_message.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainlib_mock.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/end_to_end_lavasession_test.go
  protocol/lavasession/router_key.go
  protocol/lavasession/single_consumer_session.go
  protocol/lavasession/used_providers.go
  protocol/lavasession/used_providers_test.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/consumer_relay_state_machine_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server_test.go
Labels: C:protocol, Team:Protocol, size/L

#1767 feat: CNS-v4.1.0-upgrade
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/S

#1770 feat: PRT - fix node error handling on error codes 300+ / 200 -
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/node_error_handler.go
  protocol/chainlib/tendermintRPC.go
Labels: C:protocol, Team:Protocol, size/M

#1772 chore: PRT - increase version to 4.1.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1666 feat: PRT - Support StarkNet pathfinder
  config/provider_examples/strk_example.yml
  cookbook/specs/starknet.json
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/base_chain_parser_test.go
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_message.go
  protocol/chainlib/chain_message_test.go
  protocol/chainlib/chain_router.go
  protocol/chainlib/chain_router_test.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainproxy/rpcclient/handler.go
  protocol/chainlib/chainproxy/rpcclient/json.go
  protocol/chainlib/common.go
  protocol/chainlib/common_test.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/jsonRPC_test.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/common/endpoints.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/router_key.go
  protocol/lavasession/router_key_test.go
  protocol/lavasession/used_providers.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  scripts/init_chain_commands.sh
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, size/XXL

#1771 fix: PRT - Add missing tendermintrpc methods to spec
  cookbook/specs/tendermint.json
Labels: C:specs, size/M

#1774 feat: CNS-account-info-fix
  x/pairing/client/cli/query_account_info.go
Labels: Team:Consensus, C:x/pairing, size/M

#1778 fix: PRT - fix seg fault on raced bytes array
  go.mod
  utils/sigs/sigs.go
  x/conflict/types/relay_finalization.go
  x/pairing/types/relay_exchange.go
  x/pairing/types/relay_exchange_test.go
  x/pairing/types/relay_session.go
Labels: Team:Consensus, C:x/pairing, C:x/conflict, size/L

#1773 test: PRT: Add tests for addons and extensions after spec update
  protocol/chainlib/jsonRPC_test.go
Labels: C:protocol, Team:Protocol, size/L

#1768 fix: PRT: Handle parsing error instead of logging errors
  protocol/chainlib/jsonRPC.go
  protocol/common/return_errors.go
Labels: C:protocol, Team:Protocol, size/S

#1781 fix: PRT - remove gas verification for abci_query
  cookbook/specs/evmos.json
Labels: C:specs, size/XS

#1779 feat: CNS-fvm-update
  cookbook/specs/fvm.json
  cookbook/specs/movement.json
Labels: C:specs, size/XXL

#1782 fix: PRT update celestia block time
  cookbook/specs/celestia.json
Labels: C:specs, size/XS

#1727 feat: PRT Block Hash Retry Archive After Redesign Part 2 - Add Archive logic to CRSM
  .github/workflows/lava.yml
  .github/workflows/lava_sdk_tests.yml
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainlib_mock.go
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/chainlib/extensionslib/extension_parser.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/consumer_relay_state_machine_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_state.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server_test.go
Labels: C:protocol, Team:Protocol, Type: CI, size/L

#1787 fix: PRT - tendermintrpc spec update - non deterministic queries
  cookbook/specs/tendermint.json
  protocol/lavaprotocol/request_builder.go
Labels: C:protocol, Team:Protocol, C:specs, size/S

#1775 fix: CNS-distribution-cli-fixes
  x/pairing/client/cli/tx_distribute_provider_stake.go
Labels: Team:Consensus, C:x/pairing, size/M

#1731 feat: PRT Block Hash Retry Archive After Redesign Part 3 - Add Caching Logic to successful attempts
  protocol/chainlib/chain_message.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainlib_mock.go
  protocol/chainlib/extensionslib/extension_parser.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/protocol_message.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/parser/parser.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/relay_state.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, Type: CI, size/XL

#1790 fix: PRT - Fix a bug that caused the provider to not extract the consumer address from relay session
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/S

#1743 feat: PRT Block Hash Retry Archive After Redesign Part 4 - Archive retry unitests
  ecosystem/lavajs/package.json
  protocol/chainlib/common_test_utils.go
  protocol/integration/protocol_test.go
  protocol/lavasession/used_providers.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/consumer_relay_state_machine_test.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/relay_state.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/provider_state_machine.go
  protocol/rpcprovider/provider_state_machine_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, Type: CI, size/XL

#1795 chore: PRT - increase protocol version
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1797 feat: CNS-autosort-spec-test
  x/spec/keeper/spec_test.go
Labels: Team:Consensus, C:x/spec, size/M

#1800 fix: CNS-spec-test-fix
  x/spec/keeper/spec_test.go
Labels: Team:Consensus, C:x/spec, size/XS

#1798 fix: PRT - edge case for e2e in emergency mode
  testutil/e2e/allowedErrorList.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1803 test: PRT - Add test case for new generic parser - RESULT
  protocol/parser/parser_test.go
Labels: C:protocol, Team:Protocol, size/M

#1796 fix: PRT - Avalance and Starknet fixes
  config/provider_examples/avalanch_internal_paths_example.yml
  config/provider_examples/strk_example.yml
  cookbook/specs/avalanche.json
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_router.go
  protocol/chainlib/chain_router_test.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/jsonRPC.go
  protocol/rpcprovider/rpcprovider_server.go
  testutil/e2e/proxy/proxy.go
  utils/lavaslices/slices.go
  utils/maps/maps.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#1804 feat: PRT - increase target version to 4.1.3
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1801 feat: PRT - Add gas verification for celestia
  cookbook/specs/celestia.json
  scripts/pre_setups/init_celestia_only_with_node.sh
Labels: C:specs, size/L

#1791 fix: PRT - Update Celo spec
  cookbook/specs/celo.json
Labels: C:specs, size/S
