Repository lavanet/lava, pull requests merged in 2024-08, with the labels that each got.

#1600 feat: PRT - Add metrics to relay retry and fix a bug in relay process hash conversion
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/relay_retries_manager.go
Labels: C:protocol, Team:Protocol, size/L

#1598 feat: PRT - Retry node errors mechanism
  protocol/chainlib/chain_message.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/common.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/grpcMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/restMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/tendermintRPCMessage.go
  protocol/chainlib/common_test.go
  protocol/common/cobra_common.go
  protocol/metrics/metrics_consumer_manager.go
  protocol/metrics/rpcconsumerlogs.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/relay_retries_manager.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/XL

#1605 feat: Target version bump to 2.2.6
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1606 feat: PRT - new log for failing to recover on node error.
  protocol/chainlib/chainproxy/rpcInterfaceMessages/common.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage.go
  protocol/rpcconsumer/relay_processor.go
Labels: C:protocol, Team:Protocol, size/S

#1607 ci: Free Disk Space
  .github/workflows/release.yml
Labels: Type: CI, size/XS

#1608 ci: space_cleanup
  .github/workflows/release.yml
Labels: Type: CI, size/S

#1610 feat: PRT: Generic parsers proto changes only
  proto/lavanet/lava/pairing/relayCache.proto
  proto/lavanet/lava/spec/api_collection.proto
  x/pairing/types/relayCache.pb.go
  x/spec/types/api_collection.pb.go
Labels: Team:Consensus, C:x/pairing, C:proto, Type: Proto, C:x/spec, size/XS

#1611 feat: CNS-v2.4.0
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/providers.go
  x/subscription/keeper/cu_tracker.go
Labels: Team:Consensus, C:x/protocol, C:x/rewards, C:x/subscription, size/M

#1616 feat: added chunk support for badger db
  protocol/rpcprovider/rewardserver/reward_db.go
Labels: C:protocol, Team:Protocol, size/S

#1615 feat: PRT - adding node errors body for near network
  protocol/chainlib/chainproxy/rpcclient/json.go
Labels: C:protocol, Team:Protocol, size/XS

#1564 feat: PRT: Client side load balancing with stickiness
  cmd/lavap/main.go
  protocol/chainlib/common.go
  protocol/common/endpoints.go
  protocol/integration/protocol_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/errors.go
  protocol/lavasession/single_consumer_session.go
  protocol/lavasession/used_providers.go
  protocol/loadtest/testing.go
  protocol/monitoring/health.go
  protocol/performance/connection/prober.go
  protocol/rpcconsumer/consumer_state_tracker_mock.go
  protocol/rpcconsumer/relayer_client_mock.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcconsumer/rpcconsumer_server_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/rpcprovider/testing.go
  scripts/init_chain.sh
  utils/rand/rand.go
  x/spec/types/api_collection.pb.go
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, Team:Consensus, C:cmd/lavap, C:x/spec, size/XL

#1617 feat: PRT - rest test
  protocol/chainlib/rest_test.go
Labels: C:protocol, Team:Protocol, size/S

#1618 feat: CNS-cosmos-upgrade-47.3
  ecosystem/lava-sdk/scripts/prepare_protobufs.sh
  ecosystem/lavajs/proto/cosmos_proto/cosmos.proto
  ecosystem/lavajs/scripts/prepare_protobufs.sh
  go.mod
  go.sum
Labels: Team:Protocol, size/L

#1621 chore: PRT - add-notification-for-missing-variables
  scripts/setup_providers.sh
  scripts/useful_commands.sh
Labels: Type: Build, size/M

#1622 fix: PRT - fixing ID mismatch on provider side.
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage.go
  protocol/chainlib/chainproxy/rpcInterfaceMessages/jsonRPCMessage_test.go
Labels: C:protocol, Team:Protocol, size/S

#1609 feat: PRT: Generic Parsers - Block Latest
  cookbook/specs/near.json
  go.mod
  go.sum
  proto/lavanet/lava/spec/api_collection.proto
  protocol/chainlib/chain_message.go
  protocol/chainlib/common.go
  protocol/chainlib/common_test.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/parser/parser.go
  protocol/parser/parser_test.go
  scripts/protocgen.sh
  x/spec/types/api_collection.pb.go
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, Team:Consensus, C:proto, Type: Proto, C:x/spec, size/XL

#1613 feat: CNS-tracked-cu-queries
  app/app.go
  proto/lavanet/lava/rewards/base_pay.proto
  proto/lavanet/lava/rewards/genesis.proto
  proto/lavanet/lava/rewards/query.proto
  proto/lavanet/lava/subscription/cu_tracker.proto
  proto/lavanet/lava/subscription/query.proto
  testutil/common/tester.go
  testutil/keeper/keepers_init.go
  testutil/keeper/subscription.go
  x/rewards/client/cli/query.go
  x/rewards/client/cli/query_spec_tracked_info.go
  x/rewards/keeper/base_pay.go
  x/rewards/keeper/grpc_query_iprpc_provider_reward.go
  x/rewards/keeper/grpc_query_provider_reward.go
  x/rewards/keeper/providers.go
  x/rewards/types/base_pay.go
  x/rewards/types/base_pay.pb.go
  x/rewards/types/genesis.go
  x/rewards/types/genesis.pb.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
  x/subscription/client/cli/query.go
  x/subscription/client/cli/query_estimated_rewards.go
  x/subscription/client/cli/query_tracked_cu_usage.go
  x/subscription/keeper/cu_tracker.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
  x/subscription/keeper/grpc_query_tracked_usage.go
  x/subscription/keeper/keeper.go
  x/subscription/types/cu_tracker.pb.go
  x/subscription/types/expected_keepers.go
  x/subscription/types/query.pb.go
  x/subscription/types/query.pb.gw.go
Labels: Type: Build, Team:Consensus, C:x/rewards, C:x/subscription, C:proto, Type: Proto, C:x/spec, size/XL

#1620 feat: PRT: Generic parsers implement Block Hash
  cookbook/specs/near.json
  protocol/parser/parser.go
  protocol/parser/parser_test.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#1627 fix: Fix the bug in RelayFinalization backward compatibility
  x/conflict/types/relay_finalization.go
Labels: Team:Consensus, C:x/conflict, size/XS

#1625 feat: CNS-1010 - Raw QoS excellence
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_consumer_session.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  utils/score/decay_score.go
Labels: C:protocol, Team:Protocol, size/M

#1571 feat: PRT-add-amino-names-and-amino-codecs Merge on V3.0.0
  ecosystem/lavajs/scripts/codegen.js
  proto/lavanet/lava/conflict/tx.proto
  proto/lavanet/lava/dualstaking/tx.proto
  proto/lavanet/lava/pairing/tx.proto
  proto/lavanet/lava/projects/tx.proto
  proto/lavanet/lava/protocol/tx.proto
  proto/lavanet/lava/rewards/tx.proto
  proto/lavanet/lava/subscription/tx.proto
  testutil/e2e/sdk/tests/lava_js_buy_subscription_amino.ts
  testutil/e2e/sdk/tests/lava_js_dualstaking_delegate_and_redelegate_amino.ts
  utils/common/types/provider.go
  x/conflict/types/codec.go
  x/conflict/types/tx.pb.go
  x/dualstaking/keeper/msg_server_redelegate.go
  x/dualstaking/types/codec.go
  x/dualstaking/types/tx.pb.go
  x/pairing/types/codec.go
  x/pairing/types/tx.pb.go
  x/projects/types/codec.go
  x/projects/types/tx.pb.go
  x/protocol/types/codec.go
  x/protocol/types/tx.pb.go
  x/rewards/types/codec.go
  x/rewards/types/tx.pb.go
  x/subscription/types/codec.go
  x/subscription/types/tx.pb.go
Labels: breaking, Team:Protocol, Type: Build, Team:Consensus, C:x/protocol, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/rewards, C:x/subscription, C:proto, Type: Proto, C:x/spec, C:x/projects, size/L

#1576 refactor: CNS-999 - Pairing cache
  proto/lavanet/lava/pairing/relay.proto
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_message.go
  protocol/chainlib/chainproxy/rpcclient/http.go
  protocol/chainlib/chainproxy/rpcclient/service.go
  protocol/chainlib/chainproxy/rpcclient/subscription.go
  protocol/chainlib/grpc.go
  protocol/chainlib/node_error_handler.go
  protocol/chaintracker/wanted_block_data.go
  protocol/rpcconsumer/relay_errors.go
  protocol/rpcconsumer/relay_errors_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcprovider/rewardserver/reward_server_test.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/statetracker/tx_sender.go
  scripts/protocgen.sh
  scripts/test/inich_100_providers.sh
  scripts/test/unstake_100_providers.sh
  testutil/e2e/protocolE2E.go
  testutil/e2e/proxy/helper.go
  utils/lavalog.go
  x/epochstorage/keeper/fixated_params.go
  x/pairing/keeper/keeper.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/keeper/pairing.go
  x/pairing/keeper/pairing_cache.go
  x/pairing/keeper/pairing_cache_test.go
  x/pairing/module.go
  x/pairing/types/pairing_cache.go
  x/pairing/types/relay.pb.go
  x/spec/proposal_handler.go
Labels: C:protocol, Team:Protocol, Type: Build, Team:Consensus, C:x/epochstorage, C:x/pairing, C:proto, Type: Proto, C:x/spec, size/L

#1628 fix: CNS: cosmossdk spec - verification fix
  cookbook/specs/cosmossdk.json
Labels: C:specs, size/XS

#1624 feat: CNS-validator-rewards-query
  app/app.go
  cookbook/specs/lava.json
  cookbook/specs/lava_mainnet.json
  proto/lavanet/lava/subscription/query.proto
  x/rewards/keeper/grpc_query_pools.go
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/iprpc_test.go
  x/rewards/keeper/pool_test.go
  x/rewards/keeper/providers.go
  x/rewards/keeper/rewards.go
  x/rewards/types/types.go
  x/subscription/client/cli/query.go
  x/subscription/client/cli/query_estimated_validators_rewards.go
  x/subscription/keeper/grpc_query_estimated_validator_rewards.go
  x/subscription/types/expected_keepers.go
  x/subscription/types/query.pb.go
  x/subscription/types/query.pb.gw.go
Labels: Type: Build, C:specs, Team:Consensus, C:x/rewards, C:x/subscription, C:proto, Type: Proto, size/XL

#1630 fix: Epochstorage migrator hot fix
  x/epochstorage/keeper/migrations.go
  x/epochstorage/module.go
  x/epochstorage/types/migrations/v6/endpoint.pb.go
  x/epochstorage/types/migrations/v6/stake_entry.pb.go
  x/epochstorage/types/migrations/v6/stake_storage.pb.go
Labels: Team:Consensus, C:x/epochstorage, size/M

#1633 fix: CNS-fix-reward-query
  app/app.go
  app/upgrades/empty_upgrades.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
  x/subscription/keeper/grpc_query_estimated_validator_rewards.go
Labels: Team:Consensus, C:x/subscription, size/S

#1632 feat: Update bera.json chain id for Bartio testnet
  cookbook/specs/bera.json
Labels: C:specs, size/XS

#1629 feat: added option to configure static providers
  config/consumer_examples/lava_consumer_static_peers.yml
  protocol/common/conf.go
  protocol/integration/mocks.go
  protocol/integration/protocol_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_consumer_session.go
  protocol/rpcconsumer/consumer_state_tracker_mock.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rewardserver/reward_server.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/statetracker/consumer_state_tracker.go
  protocol/statetracker/updaters/pairing_updater.go
  protocol/statetracker/updaters/pairing_updater_test.go
  protocol/statetracker/updaters/updaters_mock.go
  scripts/pre_setups/init_lava_static_provider.sh
Labels: C:protocol, Team:Protocol, size/XL

#1635 feat: PRT - add offline spec feat
  protocol/chainlib/common_test_utils.go
  protocol/chainlib/jsonRPC_test.go
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
  testutil/common/tester.go
  utils/keeper/spec.go
  x/pairing/keeper/pairing_test.go
  x/spec/ante/ante_test.go
  x/spec/genesis_test.go
  x/spec/keeper/grpc_query_params_test.go
  x/spec/keeper/grpc_query_spec_test.go
  x/spec/keeper/msg_server_test.go
  x/spec/keeper/params_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, C:x/spec, size/L

#1638 chore: PRT - adding logs to error for requested block mismatch
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/S

#1636 chore: consollidate-chain-message-data
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainlib_mock.go
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/chainlib/protocol_message.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/used_providers.go
  protocol/rpcconsumer/rpcconsumer_server.go
  x/pairing/types/relay_mock.pb.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, size/L

#1639 fix: CNS-fix-tracked-cu-query
  x/epochstorage/keeper/stake_entries.go
  x/rewards/client/cli/query_spec_tracked_info.go
  x/rewards/client/cli/tx.go
  x/rewards/keeper/grpc_query_spec_tracked_info.go
  x/subscription/client/cli/query_estimated_validators_rewards.go
  x/subscription/keeper/grpc_query_tracked_usage.go
Labels: Team:Consensus, C:x/epochstorage, C:x/rewards, C:x/subscription, size/M

#1648 fix: Unstake CLI fee grant fix
  x/pairing/client/cli/tx_unstake_provider.go
Labels: Team:Consensus, C:x/pairing, size/XS

#1642 feat: support provider method routes
  config/provider_examples/lava_example_archive_methodroute.yml
  protocol/chainlib/chain_router.go
  protocol/chainlib/chain_router_test.go
  protocol/chainlib/extensionslib/extension_parser.go
  protocol/common/endpoints.go
  protocol/lavasession/router_key.go
Labels: C:protocol, Team:Protocol, size/XL

#1647 fix: CNS-fix-modify-cli
  x/pairing/client/cli/tx_modify_provider.go
Labels: Team:Consensus, C:x/pairing, size/XS

#1645 fix: Use correct Github repository archive link
  ecosystem/lavavisor/pkg/process/fetcher.go
Labels: Team:Protocol, size/XS

#1649 chore: added init so it supports contributor
  x/spec/keeper/spec_test.go
Labels: Team:Consensus, C:x/spec, size/XS

#1651 feat: PRT - adding debug headers and fixing nil deref on response nil
  protocol/chainlib/protocol_message.go
  protocol/common/endpoints.go
  protocol/lavasession/consumer_session_manager.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/M

#1641 fix: total-gas query fix
  utils/cli/multisend.go
Labels: size/M

#1643 feat: PRT - dappid and consumer ip added to protocol message.
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainlib_mock.go
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/consumer_ws_subscription_manager.go
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/chainlib/protocol_message.go
  protocol/common/endpoints.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/rpcconsumer/consumer_consistency_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/L

#1656 feat: CNS-upgrade-v3.0.1
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/S

#1640 feat: PRT - offline spec support provider side with inheritance fix.
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/state_tracker.go
  utils/keeper/spec.go
Labels: C:protocol, Team:Protocol, size/M

#1655 feat: reduce spam logs on consumer side
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/consumer_websocket_manager.go
  protocol/chainlib/rest.go
  protocol/chainlib/rest_test.go
Labels: C:protocol, Team:Protocol, size/S

#1652 feat: PRT - add relay retry atttempts flag
  protocol/common/cobra_common.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/M

#1653 chore: refactor consumer results into a class
  protocol/chainlib/protocol_message.go
  protocol/integration/protocol_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/results_manager.go
Labels: C:protocol, Team:Protocol, size/L
