Repository lavanet/lava, pull requests merged in 2025-02, with the labels that each got.

#1931 fix: CNS-fix-credit-migrator
  scripts/init_chain_commands.sh
  x/dualstaking/keeper/migrations.go
Labels: Type: Build, Team:Consensus, C:x/dualstaking, size/XS

#1933 fix: PRT - eth client upgrade to latest version.
  go.mod
  go.sum
  protocol/chainlib/chainproxy/rpcclient/types_test.go
  testutil/e2e/protocolE2E.go
Labels: C:protocol, Team:Protocol, size/L

#1862 feat: add telegram bot to lavap health
  protocol/monitoring/alerting.go
  protocol/monitoring/health.go
  protocol/monitoring/health_cmd.go
  protocol/monitoring/health_results.go
  protocol/monitoring/telegram_alerting.go
  protocol/monitoring/telegram_alerting_test.go
Labels: C:protocol, Team:Protocol, size/L

#1936 fix: PRT - git timestamp issue resolved v4 / v5
  protocol/monitoring/telegram_alerting.go
  protocol/monitoring/telegram_alerting_test.go
Labels: C:protocol, Team:Protocol, size/XS

#1934 feat: PRT - Added BTC specs
  specs/mainnet-1/specs/btc.json
Labels: C:specs, size/XL

#1938 fix: PRT - fix a provider optimizer issue where PENDING/SAFE/FINALIZED were returning errors.
  protocol/provideroptimizer/provider_optimizer.go
Labels: C:protocol, Team:Protocol, size/S

#1911 feat: PRT - add provider verification probing data
  proto/lavanet/lava/pairing/relay.proto
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chain_fetcher_mock.go
  protocol/common/safe_sync_map.go
  protocol/integration/protocol_test.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/rpcprovider/spec_validator.go
  protocol/rpcprovider/spec_validator_test.go
  protocol/rpcprovider/testing.go
  x/pairing/types/relay.pb.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, C:x/pairing, C:proto, Type: Proto, size/L

#1943 feat: PRT - reducing retry timeout to 1 second In order to increase stability
  protocol/chainlib/common.go
  protocol/common/timeout.go
Labels: C:protocol, Team:Protocol, size/XS

#1940 feat: added worldchain specs
  specs/mainnet-1/specs/worldchain.json
Labels: C:specs, size/L

#1939 fix: reputation rank from query
  protocol/chaintracker/chain_tracker.go
  protocol/provideroptimizer/selection_tier.go
  scripts/automation_scripts/get_reputation.sh
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
  x/pairing/keeper/grpc_query_provider_reputation.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, size/M

#1946 feat: PRT - Add QOS reputation for static providers.
  protocol/lavasession/consumer_session_manager.go
Labels: C:protocol, Team:Protocol, size/XS

#1945 chore: add spec Berachain Mainnet
  specs/testnet-2/specs/bera.json
Labels: C:specs, size/M

#1941 fix: add ChainNotify as WS API in FileCoin spec
  specs/mainnet-1/specs/filecoin.json
Labels: C:specs, size/M

#1937 feat: PRT - UTXO spec base
  protocol/provideroptimizer/provider_optimizer_test.go
  specs/mainnet-1/specs/btc.json
  specs/mainnet-1/specs/worldchain.json
Labels: C:protocol, Team:Protocol, C:specs, C:cmd/lavap, size/XL

#1948 feat: PRT - add UTXO support on protocol side. do not omit empty nil errors / results.
  protocol/chainlib/chainproxy/rpcclient/json.go
  protocol/chainlib/common.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  scripts/pre_setups/init_btc_only_with_node.sh
Labels: C:protocol, Team:Protocol, size/L

#1951 feat: CNS v5.1.0
  app/app.go
  app/upgrades/empty_upgrades.go
  scripts/init_chain_commands.sh
Labels: Type: Build, Team:Consensus, size/XS

#1952 feat: PRT - adding a auto adjustment tier test to provider optimizer.
  protocol/provideroptimizer/provider_optimizer_test.go
Labels: C:protocol, Team:Protocol, size/L

#1955 fix: PRT - fix fvm spec
  scripts/pre_setups/init_fvm_only_with_node.sh
  specs/mainnet-1/specs/filecoin.json
Labels: C:specs, size/M

#1957 chore: PRT - increase protocol version 5.1.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1956 feat: PRT - Route eth call to archive
  protocol/chainlib/jsonRPC.go
Labels: C:protocol, Team:Protocol, size/XS

#1954 fix: vault double stake bug
  app/app.go
  app/upgrades/empty_upgrades.go
  x/epochstorage/keeper/keeper.go
  x/epochstorage/keeper/migrations.go
  x/epochstorage/keeper/provider_metadata.go
  x/epochstorage/module.go
  x/epochstorage/types/provider_metdata.go
  x/pairing/keeper/msg_server_stake_provider_test.go
  x/pairing/keeper/staking.go
  x/pairing/types/expected_keepers.go
Labels: Team:Consensus, C:x/epochstorage, C:x/pairing, size/L

#1959 feat: increase protocol version to v5.2.0
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1958 feat: added litecoin specs
  specs/mainnet-1/specs/litecoin.json
Labels: C:specs, size/L

#1964 feat: added Doge specs
  specs/mainnet-1/specs/doge.json
Labels: C:specs, size/L

#1963 feat: add sonic spec
  specs/testnet-2/specs/sonic.json
Labels: C:specs, size/XL

#1966 fix: telegram alerting tuning
  protocol/monitoring/alerting.go
  protocol/monitoring/telegram_alerting.go
Labels: C:protocol, Team:Protocol, size/M

#1970 fix: PRT - hash parsing fix on Tendermintrpc
  specs/mainnet-1/specs/tendermint.json
Labels: C:specs, size/XS

#1968 fix: PRT - add verification directive for Avalanche specs
  specs/mainnet-1/specs/avalanche.json
Labels: C:specs, size/S

#1973 chore: update lava specs with new v5 apis
  specs/mainnet-1/specs/lava-mainnet.json
  specs/testnet-2/specs/lava.json
Labels: C:specs, size/L

#1972 fix: reported provider event non-deterministic
  x/pairing/keeper/msg_server_relay_payment.go
Labels: Team:Consensus, C:x/pairing, size/XS

#1974 chore: align evm chains to 128 blocks pruning
  app/app.go
  specs/mainnet-1/specs/arbitrum.json
  specs/mainnet-1/specs/avalanche.json
  specs/mainnet-1/specs/base.json
  specs/mainnet-1/specs/blast.json
  specs/mainnet-1/specs/celo.json
  specs/mainnet-1/specs/ethereum.json
  specs/mainnet-1/specs/fantom.json
  specs/mainnet-1/specs/fuse.json
  specs/mainnet-1/specs/optimism.json
  specs/mainnet-1/specs/polygon.json
  specs/mainnet-1/specs/worldchain.json
  specs/testnet-2/specs/bsc.json
  specs/testnet-2/specs/sonic.json
  specs/undeployed/manta_pacific.json
  specs/undeployed/scroll.json
  specs/undeployed/zksync.json
Labels: C:specs, Team:Consensus, size/L

#1976 fix: PRT - fix reconnect attempt on retry from blocked providers
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/rpcconsumer/rpcconsumer_server.go
  scripts/pre_setups/init_lava_only_with_node_three_providers.sh
  scripts/useful_commands.sh
Labels: C:protocol, Team:Protocol, Type: Build, size/M
