Repository lavanet/lava, pull requests merged in 2025-04, with the labels that each got.

#1999 feat: use jq instead of yq
  scripts/useful_commands.sh
Labels: Type: Build, size/XS

#2000 fix: revert retry on blocked providers
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
Labels: C:protocol, Team:Protocol, size/S

#1969 feat: Hyperliquid Spec
  config/provider_examples/hyperliquid_example.yml
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chainlib.go
  protocol/chaintracker/chain_tracker.go
  protocol/chaintracker/chain_tracker_test.go
  protocol/chaintracker/config.go
  protocol/chaintracker/dummy_chain_tracker.go
  protocol/integration/protocol_test.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcconsumer/testing.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/events.go
  protocol/statetracker/state_tracker.go
  scripts/pre_setups/init_hyperliquid_only_with_node.sh
  scripts/setup_providers.sh
  scripts/useful_commands.sh
  specs/mainnet-1/specs/hyperliquid.json
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, size/XXL

#2002 feat: FB - Add missing transactions API call
  specs/mainnet-1/specs/stellar.json
Labels: C:specs, size/M

#1994 feat: PRT - stellar spec
  specs/mainnet-1/specs/stellar.json
Labels: C:specs, size/L

#1992 feat: Allow amino encoding support for lava TXs for Authz
  x/conflict/types/codec.go
  x/dualstaking/types/codec.go
  x/pairing/types/codec.go
  x/projects/types/codec.go
  x/rewards/types/codec.go
  x/subscription/types/codec.go
Labels: Team:Consensus, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/rewards, C:x/subscription, C:x/projects, size/M

#2003 feat: upgrade version v5.3.0
  app/app.go
  app/upgrades/empty_upgrades.go
  x/protocol/module.go
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/S

#2004 fix: run verifications for generated urls
  protocol/rpcprovider/rpcprovider.go
  specs/mainnet-1/specs/starknet.json
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
Labels: C:protocol, Team:Protocol, C:specs, size/L

#2005 feat: protocol errors and total relays per provider per chain metrics
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/M

#2007 feat: Fb pass nullify support
  app/app.go
  app/upgrades/empty_upgrades.go
  config/provider_examples/hyperliquid_example.yml
  proto/lavanet/lava/spec/api_collection.proto
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/chainlib.go
  protocol/chainlib/chainproxy/rpcclient/client.go
  protocol/chainlib/grpc.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chainlib/tendermintRPC.go
  protocol/chaintracker/chain_tracker.go
  protocol/chaintracker/chain_tracker_test.go
  protocol/chaintracker/config.go
  protocol/chaintracker/dummy_chain_tracker.go
  protocol/integration/protocol_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/rpcconsumer/consumer_consistency.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcconsumer/testing.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/events.go
  protocol/statetracker/state_tracker.go
  scripts/pre_setups/init_hyperliquid_only_with_node.sh
  scripts/setup_providers.sh
  scripts/useful_commands.sh
  specs/mainnet-1/specs/hyperliquid.json
  specs/mainnet-1/specs/starknet.json
  specs/mainnet-1/specs/stellar.json
  utils/lavaslices/slices.go
  utils/lavaslices/slices_test.go
  x/conflict/types/codec.go
  x/dualstaking/types/codec.go
  x/pairing/types/codec.go
  x/projects/types/codec.go
  x/protocol/module.go
  x/protocol/types/params.go
  x/rewards/types/codec.go
  x/spec/types/api_collection.pb.go
  x/subscription/types/codec.go
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, Team:Consensus, C:x/protocol, C:x/dualstaking, C:x/pairing, C:x/conflict, C:x/rewards, C:x/subscription, C:proto, Type: Proto, C:x/spec, C:x/projects, size/XXL
