Repository lavanet/lava, pull requests merged in 2025-06, with the labels that each got.

#2036 feat: :sparkles: added new provider metrics
  protocol/metrics/provider_metrics.go
  protocol/metrics/provider_metrics_manager.go
  protocol/rpcprovider/provider_state_machine.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/L

#2032 feat: archive on first retry
  protocol/rpcconsumer/relay_state.go
Labels: C:protocol, Team:Protocol, size/M

#2037 feat: added enabled field to show_all_chains query
  proto/lavanet/lava/spec/query.proto
  x/spec/keeper/grpc_query_show_all_chains.go
  x/spec/types/query.pb.go
Labels: Team:Consensus, C:proto, Type: Proto, C:x/spec, size/XS

#2042 fix: allow relay monitor to report healthy in an empty spec configura…
  protocol/rpcprovider/reliabilitymanager/reliability_manager.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/S
