Repository lavanet/lava, pull requests merged in 2025-09, with the labels that each got.

#2061 style: Change hedera testnet index string to be HEDERAT
  specs/mainnet-1/specs/hedera.json
  specs/testnet-2/specs/hedera.json
Labels: C:specs, size/XS

#2063 fix(NEART-spec): adding sharding verifications to NEAR testnet
  specs/mainnet-1/specs/near.json
Labels: C:specs, size/L

#2071 feat(provider): add actual provider latency metric
  protocol/metrics/provider_metrics.go
  protocol/metrics/provider_metrics_manager.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/M
