Repository lavanet/lava, pull requests merged in 2025-05, with the labels that each got.

#2012 feat: added bitcoin cash specs
  specs/mainnet-1/specs/bch.json
Labels: C:specs, size/L

#2015 chore: fix min stake to 5k
  specs/mainnet-1/specs/avalanche.json
  specs/mainnet-1/specs/ethereum.json
  specs/mainnet-1/specs/tendermint.json
  specs/testnet-2/specs/bsc.json
  specs/testnet-2/specs/union.json
Labels: C:specs, size/S

#2014 feat: pass_override support
  proto/lavanet/lava/spec/api_collection.proto
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/chainproxy/rpcclient/client.go
  specs/mainnet-1/specs/stellar.json
  x/spec/types/api_collection.pb.go
Labels: C:protocol, Team:Protocol, C:specs, Team:Consensus, C:proto, Type: Proto, C:x/spec, size/S

#2017 feat: adding headers type
  proto/lavanet/lava/spec/api_collection.proto
  x/spec/types/api_collection.pb.go
Labels: Team:Consensus, C:proto, Type: Proto, C:x/spec, size/XS

#1983 feat: PRT - TON spec.
  specs/mainnet-1/specs/ripple.json
  specs/mainnet-1/specs/ton.json
  specs/undeployed/ton.json
Labels: C:specs, size/XXL

#2016 chore: change all min_stake to 5k
  specs/mainnet-1/specs/btc.json
  specs/mainnet-1/specs/cosmoshub.json
  specs/mainnet-1/specs/cosmossdk.json
  specs/mainnet-1/specs/cosmossdkv50.json
  specs/mainnet-1/specs/cosmoswasm.json
  specs/mainnet-1/specs/ethermint.json
  specs/mainnet-1/specs/fuse.json
  specs/mainnet-1/specs/ibc.json
  specs/mainnet-1/specs/near.json
  specs/mainnet-1/specs/ripple.json
  specs/mainnet-1/specs/solana.json
  specs/mainnet-1/specs/stellar.json
  specs/mainnet-1/specs/ton.json
  specs/mainnet-1/specs/tron.json
  specs/testnet-2/specs/agoric.json
  specs/testnet-2/specs/beacon.json
  specs/testnet-2/specs/bera.json
  specs/testnet-2/specs/canto.json
  specs/testnet-2/specs/celestia.json
  specs/testnet-2/specs/cosmossdkv45.json
  specs/testnet-2/specs/juno.json
  specs/testnet-2/specs/kakarot.json
  specs/testnet-2/specs/koii.json
  specs/testnet-2/specs/lava.json
  specs/testnet-2/specs/osmosis.json
  specs/testnet-2/specs/secret.json
  specs/testnet-2/specs/sonic.json
  specs/testnet-2/specs/sqdsubgraph.json
  specs/testnet-2/specs/sui.json
  specs/undeployed/elys.json
  specs/undeployed/fuel.json
  specs/undeployed/manta_pacific.json
  specs/undeployed/mantle.json
  specs/undeployed/moralis.json
  specs/undeployed/namada.json
  specs/undeployed/scroll.json
  specs/undeployed/side.json
  specs/undeployed/spec_add_injective.json
  specs/undeployed/stride.json
  specs/undeployed/zksync.json
Labels: C:specs, size/L

#2018 chore: v5.4.0 upgrade handler
  app/app.go
  app/upgrades/empty_upgrades.go
Labels: Team:Consensus, size/XS

#2020 chore: adding guid to all logs of relay
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/rpcconsumer/consumer_relay_state_machine.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/L

#2008 chore: simplify lava testnet spec
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/protocol_message.go
  protocol/chainlib/protocol_message_test.go
  protocol/chainlib/rest.go
  protocol/common/cobra_common.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
  specs/testnet-2/specs/lava.json
  x/spec/types/types.go
Labels: C:protocol, Team:Protocol, C:specs, Team:Consensus, C:x/spec, size/XXL

#2023 feat: Decoupling specs
  go.mod
  go.sum
  protocol/rpcconsumer/rpcconsumer.go
  protocol/statetracker/provider_state_tracker.go
  protocol/statetracker/state_tracker.go
  utils/keeper/spec.go
  utils/keeper/spec_test.go
  x/spec/keeper/spec.go
  x/spec/types/expand.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/spec, size/XL

#2025 fix: added logging functionality
  protocol/chainlib/chain_fetcher.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chaintracker/chain_tracker.go
  protocol/lavasession/provider_types.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider.go
  protocol/rpcprovider/rpcprovider_server.go
  protocol/statetracker/updaters/pairing_updater.go
Labels: C:protocol, Team:Protocol, size/L

#2027 feat: added ability to pull request id from consumer request header
  proto/lavanet/lava/pairing/relay.proto
  protocol/chainlib/common.go
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/single_provider_session.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
  scripts/useful_commands.sh
  utils/lavalog.go
  utils/requestIdentifier.go
  x/pairing/types/relay.pb.go
Labels: C:protocol, Team:Protocol, Type: Build, Team:Consensus, C:x/pairing, C:proto, Type: Proto, size/M

#2030 refactor: refine logs
  protocol/chainlib/jsonRPC.go
  protocol/chainlib/rest.go
  protocol/chaintracker/chain_tracker.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_provider_session.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/rpcprovider_server.go
  utils/lavalog.go
Labels: C:protocol, Team:Protocol, size/L

#2035 fix: Remove REST from Hyperliquid spec
  config/provider_examples/hyperliquid_example.yml
  scripts/pre_setups/init_hyperliquid_only_with_node.sh
  specs/mainnet-1/specs/hyperliquid.json
Labels: C:specs, size/XL
