Repository lavanet/lava, pull requests merged in 2025-07, with the labels that each got.

#2040 feat: allow static spec from dir
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/state_tracker.go
  utils/keeper/spec.go
Labels: C:protocol, Team:Protocol, size/M

#2049 feat: implement Kafka integration for relay metrics with retry mechanism
  go.mod
  go.sum
  protocol/integration/protocol_test.go
  protocol/metrics/consumer_kafka_client.go
  protocol/metrics/consumer_kafka_client_test.go
  protocol/metrics/provider_metrics_manager.go
  protocol/metrics/rpcconsumer_logs.go
  protocol/metrics/rpcconsumer_logs_test.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server_test.go
  scripts/pre_setups/init_lava_static_provider_with_kafka.sh
Labels: C:protocol, Team:Protocol, size/XL

#2051 chore: up protocol version to 5.4.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#2053 fix: add special errors handling
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/results_manager.go
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, size/L
