Repository lavanet/lava, pull requests merged in 2025-03, with the labels that each got.

#1979 feat: PRT - protocol version upgrade for 5.2.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1978 feat: add tron specs
  specs/mainnet-1/specs/tron.json
Labels: C:specs, size/L

#1981 feat: :sparkles: FB - added ripple spec
  specs/mainnet-1/specs/ripple.json
Labels: C:specs, size/L

#1982 feat: PRT - ripple spec
  specs/mainnet-1/specs/ripple.json
Labels: C:specs, size/L

#1984 fix: update movement mainnet spec
  specs/mainnet-1/specs/movement.json
Labels: C:specs, size/S

#1985 feat: FB added stellar specs
  specs/mainnet-1/specs/stellar.json
Labels: C:specs, size/L

#1995 fix: PRT - fix rest provider client for movement
  ecosystem/lavavisor/pkg/process/fetcher.go
  ecosystem/lavavisor/pkg/process/fetcher_without_build.go
  protocol/chainlib/node_error_handler.go
  protocol/monitoring/health.go
  protocol/rpcprovider/testing.go
  scripts/pre_setups/init_movement_only_with_node.sh
  x/protocol/types/params.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/protocol, size/M

#1996 docs: Update README.md
  protocol/rpcconsumer/README.md
Labels: C:protocol, Team:Protocol, size/S

#1965 feat: PRT - QOS - degrade availability on node errors
  protocol/chainlib/base_chain_parser.go
  protocol/chainlib/protocol_message.go
  protocol/chainlib/protocol_message_test.go
  protocol/integration/protocol_test.go
  protocol/lavaprotocol/finalizationconsensus/finalization_consensus_test.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/qos/qos_manager.go
  protocol/qos/qos_mutator_degrade_availability.go
  protocol/rpcconsumer/consumer_relay_state_machine_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/relay_processor_test.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager_test.go
Labels: C:protocol, Team:Protocol, size/L

#1942 feat: PRT - adding stickiness header
  protocol/common/endpoints.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/end_to_end_lavasession_test.go
  protocol/lavasession/sticky_sessions.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/rpcconsumer/rpcconsumer_server.go
Labels: C:protocol, Team:Protocol, size/L

#1980 fix: PRT - Solana testnet spec fix
  specs/mainnet-1/specs/solana.json
Labels: C:specs, size/XS
