Repository lavanet/lava, pull requests merged in 2025-01, with the labels that each got.

#1871 fix: estimate rewards query returns wrong estimations
  x/rewards/keeper/iprpc.go
  x/rewards/keeper/providers.go
  x/rewards/keeper/providers_test.go
  x/subscription/README.md
  x/subscription/keeper/cu_tracker.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
  x/subscription/types/expected_keepers.go
Labels: Team:Consensus, C:x/rewards, C:x/subscription, size/L

#1881 feat: PRT - Add provider endpoint to metrics by option
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/mapped_labels_gauge_vec.go
  protocol/rpcconsumer/rpcconsumer.go
Labels: C:protocol, Team:Protocol, size/L

#1883 fix: handle multiple subscribe parse directives in spec-add
  x/spec/keeper/spec_test.go
  x/spec/types/combinable.go
Labels: Team:Consensus, C:x/spec, size/M

#1885 fix: Fixed to correct version GO 1.23.0
  ecosystem/lavavisor/pkg/process/fetcher.go
Labels: Team:Protocol, size/XS

#1884 feat: PRT - added a flag to allow chains with lower amount of providers run with more distributed providers into tiers.
  protocol/common/cobra_common.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/rpcconsumer/rpcconsumer.go
  testutil/network/network.go
Labels: C:protocol, Team:Protocol, size/M

#1886 fix: PRT - fix health and test commands removing WS panic.
  protocol/chainlib/chain_router.go
  protocol/monitoring/health.go
  protocol/rpcconsumer/testing.go
Labels: C:protocol, Team:Protocol, size/XS

#1887 fix: PRT - Fix debug and trace addons on Avalanche
  specs/mainnet-1/specs/avalanche.json
Labels: C:specs, size/M

#1890 chore: PRT - Update protocol version to 4.2.5
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1889 fix: PRT - Fix ETH trace archive
  specs/mainnet-1/specs/ethereum.json
Labels: C:protocol, Team:Protocol, Type: Build, C:specs, size/M

#1892 feat: PRT - Add lava provider metrics endpoint flag
  protocol/common/cobra_common.go
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/mapped_labels_counter_vec.go
  protocol/metrics/mapped_labels_gauge_vec.go
  protocol/metrics/mapped_labels_metric_common.go
  protocol/metrics/provider_metrics.go
  protocol/metrics/provider_metrics_manager.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcprovider/rpcprovider.go
  protocol/statetracker/updaters/metrics_updater.go
Labels: C:protocol, Team:Protocol, size/L

#1894 chore: PRT - Remove trace and bundler from CELO spec
  specs/mainnet-1/specs/celo.json
Labels: C:specs, size/S

#1897 fix: PRT - Fix a bug where static provider won't use relay metrics
  protocol/integration/mocks.go
  protocol/rpcprovider/rpcprovider_server.go
Labels: C:protocol, Team:Protocol, size/L

#1902 fix: PRT - Fix a fallback bug in Solana chain tracker
  protocol/chainlib/chain_fetcher.go
  protocol/chaintracker/chain_tracker.go
  protocol/chaintracker/svm_chain_tracker.go
Labels: C:protocol, Team:Protocol, size/M

#1626 feat: Reputation: CNS-1005 - Reputation pairing score
  proto/lavanet/lava/pairing/params.proto
  proto/lavanet/lava/pairing/query.proto
  scripts/test/cli_test.sh
  testutil/common/tester.go
  utils/math.go
  x/pairing/README.md
  x/pairing/client/cli/query.go
  x/pairing/client/cli/query_provider_reputation.go
  x/pairing/client/cli/query_provider_reputation_details.go
  x/pairing/client/cli/query_providers_epoch_cu.go
  x/pairing/keeper/filters/filter.go
  x/pairing/keeper/grpc_query_provider_reputation.go
  x/pairing/keeper/grpc_query_provider_reputation_details.go
  x/pairing/keeper/grpc_query_provider_reputation_test.go
  x/pairing/keeper/helpers_test.go
  x/pairing/keeper/keeper.go
  x/pairing/keeper/msg_server_relay_payment_test.go
  x/pairing/keeper/pairing_test.go
  x/pairing/keeper/params.go
  x/pairing/keeper/reputation.go
  x/pairing/keeper/scores/geo_req_test.go
  x/pairing/keeper/scores/pairing_score.go
  x/pairing/keeper/scores/qos_req.go
  x/pairing/keeper/scores/reputation_req.go
  x/pairing/keeper/scores/score.go
  x/pairing/types/params.go
  x/pairing/types/params.pb.go
  x/pairing/types/query.pb.go
  x/pairing/types/query.pb.gw.go
  x/pairing/types/reputation.go
  x/pairing/types/reputation_test.go
Labels: Team:Consensus, C:x/pairing, C:proto, Type: Proto, size/XXL

#1907 chore: PRT - increase protocol version in main
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1905 chore: PRT - add request counter for debugging the populator
  ecosystem/cache_populator/scripts/request_counter.py
Labels: Team:Protocol, size/M

#1909 feat: PRT - Static provider bug fix
  config/consumer_examples/lava_consumer_static_peers.yml
  config/provider_examples/lava_example2.yml
  protocol/integration/mocks.go
  protocol/lavasession/consumer_session_manager.go
  protocol/rpcconsumer/consumer_state_tracker_mock.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/statetracker/consumer_state_tracker.go
  protocol/statetracker/updaters/finalization_consensus_updater.go
  protocol/statetracker/updaters/pairing_updater.go
  protocol/statetracker/updaters/state_query.go
  scripts/pre_setups/init_lava_static_provider.sh
  scripts/test/init_payment_e2e.sh
  x/epochstorage/keeper/params.go
  x/pairing/keeper/pairing_next_epoch_time_block.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/epochstorage, C:x/pairing, size/L

#1913 chore: PRT - increase minimum version + protocol version to 4.2.8 / 4.2.1
  x/protocol/types/params.go
Labels: Team:Consensus, C:x/protocol, size/XS

#1915 chore: PRT - Update go version to match toolchain rule
  go.mod
Labels: size/XS

#1604 feat: Reputation: CNS-1003: reputation proto definitions
  proto/lavanet/lava/pairing/genesis.proto
  proto/lavanet/lava/pairing/params.proto
  proto/lavanet/lava/pairing/query.proto
  proto/lavanet/lava/pairing/relay.proto
  proto/lavanet/lava/pairing/reputation.proto
  protocol/lavaprotocol/request_builder.go
  scripts/test/cli_test.sh
  testutil/common/tester.go
  utils/convert.go
  utils/math.go
  x/pairing/README.md
  x/pairing/client/cli/query.go
  x/pairing/client/cli/query_provider_reputation.go
  x/pairing/client/cli/query_provider_reputation_details.go
  x/pairing/client/cli/query_providers_epoch_cu.go
  x/pairing/genesis.go
  x/pairing/genesis_test.go
  x/pairing/keeper/filters/filter.go
  x/pairing/keeper/grpc_query_provider_reputation.go
  x/pairing/keeper/grpc_query_provider_reputation_details.go
  x/pairing/keeper/grpc_query_provider_reputation_test.go
  x/pairing/keeper/helpers_test.go
  x/pairing/keeper/keeper.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/keeper/msg_server_relay_payment_test.go
  x/pairing/keeper/pairing_test.go
  x/pairing/keeper/params.go
  x/pairing/keeper/qos_excellence.go
  x/pairing/keeper/qos_excellence_test.go
  x/pairing/keeper/reputation.go
  x/pairing/keeper/reputation_test.go
  x/pairing/keeper/scores/geo_req_test.go
  x/pairing/keeper/scores/pairing_score.go
  x/pairing/keeper/scores/qos_req.go
  x/pairing/keeper/scores/reputation_req.go
  x/pairing/keeper/scores/score.go
  x/pairing/types/QualityOfServiceReport.go
  x/pairing/types/QualityOfServiceReport_test.go
  x/pairing/types/genesis.go
  x/pairing/types/genesis.pb.go
  x/pairing/types/genesis_test.go
  x/pairing/types/params.go
  x/pairing/types/params.pb.go
  x/pairing/types/qos_score.go
  x/pairing/types/query.pb.go
  x/pairing/types/query.pb.gw.go
  x/pairing/types/relay.pb.go
  x/pairing/types/reputation.go
  x/pairing/types/reputation.pb.go
  x/pairing/types/reputation_test.go
Labels: C:protocol, Team:Protocol, Type: Build, Team:Consensus, C:x/pairing, C:proto, Type: Proto, size/XXL

#1918 feat: added lava_consumer_provider_blocked metric
  proto/lavanet/lava/pairing/genesis.proto
  proto/lavanet/lava/pairing/params.proto
  proto/lavanet/lava/pairing/query.proto
  proto/lavanet/lava/pairing/relay.proto
  proto/lavanet/lava/pairing/reputation.proto
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/consumer_metrics_manager.go
  scripts/test/cli_test.sh
  testutil/common/tester.go
  utils/convert.go
  utils/math.go
  x/pairing/README.md
  x/pairing/client/cli/query.go
  x/pairing/client/cli/query_provider_reputation.go
  x/pairing/client/cli/query_provider_reputation_details.go
  x/pairing/client/cli/query_providers_epoch_cu.go
  x/pairing/genesis.go
  x/pairing/genesis_test.go
  x/pairing/keeper/filters/filter.go
  x/pairing/keeper/grpc_query_provider_reputation.go
  x/pairing/keeper/grpc_query_provider_reputation_details.go
  x/pairing/keeper/grpc_query_provider_reputation_test.go
  x/pairing/keeper/helpers_test.go
  x/pairing/keeper/keeper.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/keeper/msg_server_relay_payment_test.go
  x/pairing/keeper/pairing_test.go
  x/pairing/keeper/params.go
  x/pairing/keeper/qos_excellence.go
  x/pairing/keeper/qos_excellence_test.go
  x/pairing/keeper/reputation.go
  x/pairing/keeper/reputation_test.go
  x/pairing/keeper/scores/geo_req_test.go
  x/pairing/keeper/scores/pairing_score.go
  x/pairing/keeper/scores/qos_req.go
  x/pairing/keeper/scores/reputation_req.go
  x/pairing/keeper/scores/score.go
  x/pairing/types/QualityOfServiceReport.go
  x/pairing/types/QualityOfServiceReport_test.go
  x/pairing/types/genesis.go
  x/pairing/types/genesis.pb.go
  x/pairing/types/genesis_test.go
  x/pairing/types/params.go
  x/pairing/types/params.pb.go
  x/pairing/types/qos_score.go
  x/pairing/types/query.pb.go
  x/pairing/types/query.pb.gw.go
  x/pairing/types/relay.pb.go
  x/pairing/types/reputation.go
  x/pairing/types/reputation.pb.go
  x/pairing/types/reputation_test.go
Labels: C:protocol, Team:Protocol, size/XXL

#1920 feat: PRT - Add lava consumer blocked providers metrics new
  config/provider_examples/provider_example_cookbook/eth_provider_with_archive_debug_trace.yml
  protocol/lavasession/consumer_session_manager.go
  protocol/metrics/consumer_metrics_manager.go
Labels: C:protocol, Team:Protocol, size/M

#1784 refactor: CNS-1008 - Optimizer Refactor Part 1: provider optimizer refactor
  protocol/chainlib/consumer_ws_subscription_manager_test.go
  protocol/integration/protocol_test.go
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_session_manager_test.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_consumer_session.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/provideroptimizer/selection_tier.go
  protocol/provideroptimizer/selection_tier_test.go
  protocol/rpcconsumer/rpcconsumer.go
  protocol/rpcconsumer/rpcconsumer_server_test.go
  utils/score/decay_score.go
  utils/score/score_config.go
  utils/score/score_config_test.go
  utils/score/score_store.go
  utils/score/score_store_test.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/types/QualityOfServiceReport.go
  x/pairing/types/QualityOfServiceReport_test.go
  x/pairing/types/qos_report.go
  x/pairing/types/qos_report_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, size/XXL

#1922 fix: invalid QoS excellence report to the node
  protocol/lavaprotocol/request_builder.go
  protocol/lavasession/consumer_types.go
Labels: C:protocol, Team:Protocol, size/S

#1923 feat: PRT - adding a more indicative error for provider config
  config/provider_examples/provider_example_cookbook/eth_provider_with_archive_debug_trace.yml
  protocol/chainlib/chain_router.go
Labels: C:protocol, Team:Protocol, size/M

#1927 feat: CNS v5.0.0
  app/app.go
  app/upgrades/empty_upgrades.go
  testutil/keeper/mock_keepers.go
  x/pairing/keeper/cu_tracker_test.go
  x/pairing/keeper/delegator_rewards_test.go
  x/pairing/keeper/grpc_query_provider_reputation.go
  x/pairing/keeper/migrations.go
  x/pairing/keeper/reputation.go
  x/pairing/module.go
Labels: Team:Consensus, C:x/pairing, size/M

#1916 feat: CNS-pools-rewards-query
  proto/lavanet/lava/subscription/query.proto
  x/rewards/keeper/iprpc.go
  x/subscription/README.md
  x/subscription/client/cli/query_estimated_rewards.go
  x/subscription/keeper/grpc_query_estimated_pools.go
  x/subscription/keeper/grpc_query_estimated_rewards.go
  x/subscription/types/query.pb.go
  x/subscription/types/query.pb.gw.go
Labels: Team:Consensus, C:x/rewards, C:x/subscription, C:proto, Type: Proto, size/L

#1925 fix: PRT - Fix race on score storer
  protocol/chainlib/chainproxy/connector_test.go
  protocol/chaintracker/chain_tracker_test.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/provideroptimizer/selection_tier.go
  protocol/provideroptimizer/selection_tier_test.go
  utils/score/score_errors.go
  utils/score/score_store.go
  utils/score/score_store_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, size/L

#1908 refactor: PRT - QoS Manager refactor
  protocol/common/endpoints.go
  protocol/lavaprotocol/finalizationconsensus/finalization_consensus_test.go
  protocol/lavaprotocol/request_builder.go
  protocol/lavaprotocol/response_builder_test.go
  protocol/lavaprotocol/reuqest_builder_test.go
  protocol/lavasession/common.go
  protocol/lavasession/consumer_session_manager.go
  protocol/lavasession/consumer_types.go
  protocol/lavasession/single_consumer_session.go
  protocol/metrics/consumer_metrics_manager.go
  protocol/metrics/consumer_reports_client_test.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/qos/common.go
  protocol/qos/qos_manager.go
  protocol/qos/qos_manager_test.go
  protocol/qos/qos_mutator_base.go
  protocol/qos/qos_mutator_relay_failure.go
  protocol/qos/qos_mutator_relay_success.go
  protocol/qos/qos_mutator_relay_success_test.go
  protocol/qos/qos_mutator_set_reputation.go
  protocol/qos/qos_report.go
  protocol/rpcconsumer/relay_errors.go
  protocol/rpcconsumer/relay_errors_test.go
  protocol/rpcconsumer/relay_processor.go
  protocol/rpcconsumer/rpcconsumer_server.go
  protocol/rpcprovider/reliabilitymanager/reliability_manager_test.go
  utils/channeled_wait_group.go
  utils/channeled_wait_group_test.go
  x/pairing/keeper/msg_server_relay_payment.go
  x/pairing/types/qos_report.go
  x/pairing/types/qos_report_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/pairing, size/XXL

#1929 fix: PRT - fix a statistical test failing over delta
  protocol/provideroptimizer/provider_optimizer_test.go
  utils/score/score_store_test.go
Labels: C:protocol, Team:Protocol, size/S

#1924 fix: CNS-shares-dont-affect-iprpc
  x/rewards/keeper/iprpc_test.go
  x/rewards/keeper/providers.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/rewards, size/S

#1802 refactor: Optimizer Refactor Part 2: Add tier to optimizer metrics
  protocol/metrics/consumer_optimizer_qos_client.go
  protocol/provideroptimizer/provider_optimizer.go
  protocol/provideroptimizer/provider_optimizer_test.go
  protocol/rpcprovider/rpcprovider_server.go
  scripts/test/httpServer.py
  scripts/test/plot_data.py
  utils/score/score_store.go
  x/rewards/keeper/pool_test.go
  x/subscription/keeper/subscription_test.go
Labels: C:protocol, Team:Protocol, Team:Consensus, C:x/rewards, C:x/subscription, size/L

#1930 test: PRT - add optimizer sync weighted test.
  protocol/provideroptimizer/provider_optimizer_test.go
Labels: C:protocol, Team:Protocol, size/L
